Repository edgexfoundry/edgex-go, pull requests merged in 2018-12, with the labels that each got.

#885 snap/many: replace usage of systemd-notify with forking daemons
  snap/local/runtime-helpers/bin/fork-wrapper.sh
  snap/local/runtime-helpers/bin/go-services-wrapper.sh
  snap/local/runtime-helpers/bin/security-start.sh
  snap/snapcraft.yaml
Labels: delhi dot - 0.7.1, snap

#894 Add new device services
  snap/hooks/configure
  snap/hooks/install
  snap/snapcraft.yaml
Labels: delhi dot - 0.7.1, device-services, snap

#898 FIX: Client monitor update in milliseconds, not seconds
  internal/export/client/init.go
  internal/pkg/startup/endpoint.go
Labels: bug, delhi dot - 0.7.1, export-services

#903 FIX: Client monitor update in milliseconds, not seconds (master)
  internal/export/client/init.go
  internal/pkg/startup/endpoint.go
Labels: bug, edinburgh, export-services

#911 cmd/many: add go-toml to Attribution.txt files
  cmd/config-seed/Attribution.txt
  cmd/core-command/Attribution.txt
  cmd/core-metadata/Attribution.txt
  cmd/export-client/Attribution.txt
  cmd/export-distro/Attribution.txt
  cmd/support-logging/Attribution.txt
  cmd/support-notifications/Attribution.txt
  cmd/support-scheduler/Attribution.txt
  cmd/sys-mgmt-agent/Attribution.txt
Labels: bug, delhi dot - 0.7.1

#774 Update snap readme, icon, and store description and summary
  snap/README.md
  snap/local/assets/edgex-snap-icon.png
  snap/snapcraft.yaml
Labels: documentation, snap

#854 snapcraft.yaml: use go implementation of support-scheduler (master)
  snap/hooks/install
  snap/local/bin/start-edgex.sh
  snap/snapcraft.yaml
Labels: edinburgh, snap

#934 Miscellaneous Delhi forward ports
  snap/README.md
  snap/snapcraft.yaml
Labels: edinburgh, snap

#939 Turn all snap services into daemons (for master)
  snap/README.md
  snap/hooks/configure
  snap/hooks/install
  snap/local/bin/start-config-seed.sh
  snap/local/bin/start-edgex.sh
  snap/local/bin/stop-edgex.sh
  snap/local/build-helpers/bin/go-build-helper.sh
  snap/local/config/edgex-services-env
  snap/local/runtime-helpers/bin/cassandra-wrapper.sh
  snap/local/runtime-helpers/bin/device-virtual-wrapper.sh
  snap/local/runtime-helpers/bin/fork-wrapper.sh
  snap/local/runtime-helpers/bin/go-services-wrapper.sh
  snap/local/runtime-helpers/bin/kong-wrapper.sh
  snap/local/runtime-helpers/bin/mongo-worker-wrapper.sh
  snap/local/runtime-helpers/bin/mongod-wrapper.sh
  snap/local/runtime-helpers/bin/security-start.sh
  snap/local/runtime-helpers/bin/security-stop.sh
  snap/local/runtime-helpers/bin/start-consul.sh
  snap/local/runtime-helpers/bin/wait-for-consul.sh
  snap/local/runtime-helpers/config/security-secret-store/vault-config.json.in
  snap/snapcraft.yaml
Labels: edinburgh, snap

#951 Add SMA to snap + enable stopping services in snap using SMA (for master)
  internal/system/agent/executor/snap.go
  internal/system/agent/init.go
  snap/hooks/install
  snap/snapcraft.yaml
Labels: edinburgh, snap

#938 Decoupling mongo types from metadata/Addressable endpoint
  internal/core/metadata/addressable.go
  internal/core/metadata/addressable_test.go
  internal/core/metadata/interfaces/db.go
  internal/core/metadata/interfaces/mocks/DBClient.go
  internal/core/metadata/rest_addressable.go
  internal/core/metadata/rest_device.go
  internal/core/metadata/rest_deviceservice.go
  internal/core/metadata/rest_scheduleevent.go
  internal/pkg/db/memory/metadata.go
  internal/pkg/db/mongo/metadata.go
  internal/pkg/db/mongo/models/addressable.go
  internal/pkg/db/mongo/models/event.go
  internal/pkg/db/mongo/models/reading.go
  internal/pkg/db/mongo/models/value_descriptor.go
  internal/pkg/db/test/db_metadata.go
  internal/support/scheduler/loader.go
  pkg/clients/metadata/addressable_test.go
  pkg/models/addressable.go
  pkg/models/addressable_test.go
  pkg/models/baseobject.go
Labels: core-services, edinburgh, enhancement

#967 Updated Gorilla MUX to v1.6.2
  glide.yaml
Labels: core-services, edinburgh, enhancement, support-services
