Repository edgexfoundry/edgex-go, pull requests merged in 2018-08, with the labels that each got.

#438 Support-logging: Handle bootstrap dependency timing
  cmd/support-logging/main.go
  internal/support/logging/const.go
  internal/support/logging/file.go
  internal/support/logging/init.go
  internal/support/logging/mongo.go
  internal/support/logging/server.go
  internal/support/logging/server_test.go
  internal/support/logging/types.go
Labels: delhi, enhancement

#483 [snap] Update to support-notifications-go
  snap/bin/start-edgex.sh
  snap/hooks/install
  snap/snapcraft.yaml
Labels: snap

#482 core/data/event.go Partial Refactoring for Increased Unit Test Coverage
  api/raml/core-data.raml
  glide.yaml
  internal/core/data/const.go
  internal/core/data/device.go
  internal/core/data/domain_events.go
  internal/core/data/errors/bad-value-descriptor.go
  internal/core/data/errors/no-value-descriptor.go
  internal/core/data/errors/types.go
  internal/core/data/errors/unexpected.go
  internal/core/data/errors/unsupported-database-error.go
  internal/core/data/errors/unsupported-publisher.go
  internal/core/data/errors/value-descriptor-still-in-use.go
  internal/core/data/event.go
  internal/core/data/event_test.go
  internal/core/data/init.go
  internal/core/data/interfaces/db.go
  internal/core/data/messaging/eventpublisher.go
  internal/core/data/messaging/zeromq.go
  internal/core/data/reading.go
  internal/core/data/router.go
  internal/core/data/valuedescriptor.go
  internal/pkg/db/influx/data.go
  internal/pkg/db/memory/data.go
  internal/pkg/db/mongo/data.go
  internal/pkg/db/test/db_data.go
  pkg/clients/metadata/mocks/DeviceClient.go
Labels: delhi, enhancement

#510 snap/bin/security-start.sh: go into $SNAP_DATA before doing anything
  snap/bin/security-start.sh
Labels: california dot - 0.6.1, snap

#508 snap/bin/stop-edgex.sh: remove the kong_env file too
  snap/bin/stop-edgex.sh
  snap/snapcraft.yaml
Labels: california dot - 0.6.1, snap
