Repository edgexfoundry/edgex-go, pull requests merged in 2018-11, with the labels that each got.

#729 Rev'ed version to 1.0.0
  VERSION
  version.go
Labels: edinburgh

#716 Use go implementation of support-scheduler in snap
  snap/hooks/install
  snap/local/bin/start-edgex.sh
  snap/snapcraft.yaml
Labels: delhi, snap

#727 Fix bug wherein we get a Go panic on starting the SMA in a docker container.
  cmd/sys-mgmt-agent/main.go
  cmd/sys-mgmt-agent/res/configuration.toml
  cmd/sys-mgmt-agent/res/docker/configuration.toml
  cmd/sys-mgmt-agent/res/manifest.toml
  docker/Dockerfile.sys-mgmt-agent
  internal/system/agent/const.go
  internal/system/agent/init.go
  internal/system/agent/utils.go
Labels: delhi

#722 Turn all snap services into daemons
  snap/README.md
  snap/hooks/configure
  snap/hooks/install
  snap/local/bin/start-config-seed.sh
  snap/local/bin/start-edgex.sh
  snap/local/bin/stop-edgex.sh
  snap/local/build-helpers/bin/go-build-helper.sh
  snap/local/runtime-helpers/bin/cassandra-wrapper.sh
  snap/local/runtime-helpers/bin/device-virtual-wrapper.sh
  snap/local/runtime-helpers/bin/go-services-wrapper.sh
  snap/local/runtime-helpers/bin/kong-wrapper.sh
  snap/local/runtime-helpers/bin/mongo-worker-wrapper.sh
  snap/local/runtime-helpers/bin/mongod-wrapper.sh
  snap/local/runtime-helpers/bin/security-start.sh
  snap/local/runtime-helpers/bin/security-stop.sh
  snap/local/runtime-helpers/bin/start-config-seed.sh
  snap/local/runtime-helpers/bin/start-consul.sh
  snap/local/runtime-helpers/bin/support-rulesengine-wrapper.sh
  snap/local/runtime-helpers/bin/wait-for-consul.sh
  snap/local/runtime-helpers/config/edgex-services-env
  snap/local/runtime-helpers/config/security-secret-store/vault-config.json.in
  snap/snapcraft.yaml
Labels: delhi, snap

#753 LogLevel = WARN when ScheduleEvent associates not found
  internal/core/metadata/rest_scheduleevent.go
Labels: delhi, edinburgh

#759 LogLevel = WARN when ScheduleEvent associates not found (Master)
  internal/core/metadata/rest_scheduleevent.go
Labels: edinburgh, enhancement

#762 config-seed startup log WARN if expected directory missing
  internal/seed/config/populate.go
Labels: bug, edinburgh

#744 Add sys-mgmt-agent to snap
  snap/hooks/install
  snap/local/runtime-helpers/bin/go-services-wrapper.sh
  snap/local/runtime-helpers/bin/start-config-seed.sh
  snap/local/runtime-helpers/config/edgex-services-env
  snap/snapcraft.yaml
Labels: delhi, snap

#766 Updated dockerfile base image to golang:1.11.2-alpine3.7
  docker/Dockerfile.config-seed
  docker/Dockerfile.core-command
  docker/Dockerfile.core-data
  docker/Dockerfile.core-metadata
  docker/Dockerfile.export-client
  docker/Dockerfile.export-distro
  docker/Dockerfile.support-logging
  docker/Dockerfile.support-notifications
  docker/Dockerfile.support-scheduler
  docker/Dockerfile.sys-mgmt-agent
Labels: core-services, edinburgh, enhancement, export-services, support-services

#783 SMA Addressed panic for missing params property
  api/raml/system-agent.raml
  internal/system/agent/executor/docker.go
  internal/system/agent/executor/os.go
  internal/system/agent/interfaces/ExecutorClient.go
  internal/system/agent/router.go
  internal/system/agent/services.go
  pkg/models/sma_operation.go
Labels: bug, delhi, system-management

#750 Support stopping services in snap with SMA
  internal/system/agent/executor/snap.go
  internal/system/agent/init.go
  snap/snapcraft.yaml
Labels: delhi, system-management

#793 Recheck consul connection in case of bootstrap race
  internal/core/command/init.go
  internal/core/data/init.go
  internal/core/metadata/init.go
  internal/export/client/init.go
  internal/export/distro/init.go
  internal/support/logging/init.go
  internal/support/notifications/init.go
  internal/support/scheduler/init.go
Labels: bug, delhi

#723 snap/entrypoint.sh: enable silent reports, push metadata
  snap/entrypoint.sh
Labels: snap

#798 Recheck consul connection in case of bootstrap race (master)
  internal/core/command/init.go
  internal/core/data/init.go
  internal/core/metadata/init.go
  internal/export/client/init.go
  internal/export/distro/init.go
  internal/support/logging/init.go
  internal/support/notifications/init.go
  internal/support/scheduler/init.go
Labels: bug, core-services, edinburgh, export-services, support-services

#819 snapcraft.yaml: don't hard-code version in jar file names
  snap/snapcraft.yaml
Labels: edinburgh, snap

#791 Update security services for Delhi to use go binaries
  snap/hooks/install
  snap/local/runtime-helpers/bin/security-start.sh
  snap/local/runtime-helpers/config/security-secret-store/vault-config.json.in
  snap/snapcraft.yaml
Labels: delhi dot - 0.7.1, snap

#847 snapcraft.yaml: upgrade grade to stable
  snap/snapcraft.yaml
Labels: delhi dot - 0.7.1, snap

#856 Decouple Mongo types from core-data contract models
  glide.yaml
  internal/core/data/device_test.go
  internal/core/data/event.go
  internal/core/data/event_test.go
  internal/core/data/interfaces/db.go
  internal/core/data/interfaces/mocks/DBClient.go
  internal/core/data/reading.go
  internal/core/data/router.go
  internal/core/data/valuedescriptor.go
  internal/core/data/valuedescriptor_test.go
  internal/export/distro/format.go
  internal/export/distro/influxdb.go
  internal/export/distro/registrations.go
  internal/pkg/db/db.go
  internal/pkg/db/memory/data.go
  internal/pkg/db/mongo/client.go
  internal/pkg/db/mongo/data.go
  internal/pkg/db/mongo/event.go
  internal/pkg/db/mongo/models/event.go
  internal/pkg/db/mongo/models/reading.go
  internal/pkg/db/mongo/models/value_descriptor.go
  internal/pkg/db/test/db_data.go
  pkg/models/event.go
  pkg/models/event_test.go
  pkg/models/reading.go
  pkg/models/reading_test.go
  pkg/models/value-descriptor.go
  pkg/models/value-descriptor_test.go
Labels: core-services, edinburgh, enhancement

#870 FIX: event ids blank when exported
  internal/core/data/event.go
Labels: bug, core-services, edinburgh
