Repository edgexfoundry/edgex-go, pull requests merged in 2018-10, with the labels that each got.

#606 core-metadata should use LoadFromFileV2
  internal/core/metadata/init.go
Labels: bug, delhi

#615 Delhi snapcraft improvements
  snap/hooks/install
  snap/local/bin/cassandra-wrapper.sh
  snap/local/bin/go-build-helper.sh
  snap/local/bin/kong-wrapper.sh
  snap/local/bin/security-start.sh
  snap/local/bin/start-config-seed.sh
  snap/local/bin/start-consul.sh
  snap/local/bin/start-edgex.sh
  snap/local/bin/stop-edgex.sh
  snap/local/config/edgex-services-env
  snap/local/config/security-secret-store/vault-config.json.in
  snap/plugins/x-shell.py
  snap/snapcraft.yaml
Labels: delhi, snap

#619 BUG: Consul values overridden at service start
  internal/core/command/init.go
  internal/core/data/init.go
  internal/core/metadata/init.go
  internal/export/client/init.go
Labels: bug, delhi

#634 Cali add rulesengine
  snap/bin/start-edgex.sh
  snap/bin/stop-edgex.sh
  snap/config/edgex-services-env
  snap/hooks/install
  snap/snapcraft.yaml
Labels: california dot - 0.6.1, snap

#563 Add dockerfile to build snap
  .gitignore
  snap/Dockerfile.amd64.build
  snap/Dockerfile.arm64.build
  snap/Dockerfile.armhf.build
  snap/Dockerfile.i386.build
  snap/build.sh
  snap/entrypoint.sh
Labels: snap

#643 Dockerfile for snap builds on california
  .gitignore
  snap/Dockerfile.amd64.build
  snap/Dockerfile.arm64.build
  snap/Dockerfile.armhf.build
  snap/Dockerfile.i386.build
  snap/build.sh
  snap/entrypoint.sh
Labels: california dot - 0.6.1, snap

#641 Fix improper read from Consul during bootstrap (support-logging)
  Makefile
  internal/support/logging/init.go
Labels: bug, delhi, support-services

#652 Fix snap release jobs
  snap/Dockerfile.amd64.build
  snap/build.sh
  snap/entrypoint.sh
Labels: snap

#665 Use new go support-notifications in the snap
  snap/hooks/install
  snap/local/bin/start-edgex.sh
Labels: snap

#669 Fix for snap release jobs in california
  snap/Dockerfile.amd64.build
  snap/build.sh
  snap/entrypoint.sh
Labels: california dot - 0.6.1, snap

#685 snap/entrypoint.sh: include manifest in the snap
  snap/entrypoint.sh
Labels: delhi, snap

#687 Update snap documentation
  snap/Dockerfile.armhf.build
  snap/README.md
  snap/snapcraft.yaml
Labels: delhi, snap

#695 snap/many: use single dockerfile for all arch values with build args
  snap/Dockerfile.arm64.build
  snap/Dockerfile.armhf.build
  snap/Dockerfile.build
  snap/Dockerfile.i386.build
  snap/build.sh
Labels: snap

#709 Docs -- Update ExportClient RAML link
  docs/api/Ch-APIExportServicesClientRegistration.rst
Labels: documentation

#718 snapcraft.yaml: update device-virtual and rulesengine to delhi branch
  snap/snapcraft.yaml
Labels: delhi, snap
