Repository edgexfoundry/edgex-go, pull requests merged in 2018-09, with the labels that each got.

#534 Adding version information to glide.yaml
  export/distro/format.go
  glide.yaml
Labels: core-services, delhi, export-services, support-services

#532 Merge config-seed into edgex-go
  .gitignore
  Makefile
  cmd/config-seed/main.go
  cmd/config-seed/res/configuration-docker.toml
  cmd/config-seed/res/configuration.toml
  cmd/config-seed/res/properties/device-bacnet/application.properties
  cmd/config-seed/res/properties/device-bacnet;docker/application.properties
  cmd/config-seed/res/properties/device-bluetooth/application.properties
  cmd/config-seed/res/properties/device-bluetooth;docker/application.properties
  cmd/config-seed/res/properties/device-fischertechnik/application.properties
  cmd/config-seed/res/properties/device-fischertechnik;docker/application.properties
  cmd/config-seed/res/properties/device-modbus/application.properties
  cmd/config-seed/res/properties/device-modbus;docker/application.properties
  cmd/config-seed/res/properties/device-mqtt/application.properties
  cmd/config-seed/res/properties/device-mqtt;docker/application.properties
  cmd/config-seed/res/properties/device-snmp/application.properties
  cmd/config-seed/res/properties/device-snmp;docker/application.properties
  cmd/config-seed/res/properties/device-virtual/application.properties
  cmd/config-seed/res/properties/device-virtual;docker/application.properties
  cmd/config-seed/res/properties/edgex-support-rulesengine/application.properties
  cmd/config-seed/res/properties/edgex-support-rulesengine;docker/application.properties
  docker/Dockerfile.config-seed
  glide.yaml
  internal/constants.go
  internal/pkg/usage/usage.go
  internal/seed/config/const.go
  internal/seed/config/init.go
  internal/seed/config/populate.go
Labels: core-services, delhi

#549 Do not attempt callback if no URL provided
  internal/core/metadata/rest_deviceservice.go
  pkg/models/addressable.go
  pkg/models/addressable_test.go
Labels: bug, core-services, delhi

#490 snap/snapcraft.yaml: fix config file locations in config-seed-go
  snap/bin/start-config-seed.sh
  snap/snapcraft.yaml
Labels: snap

#567 snapcraft.yaml: use VERSION file to set snap version
  snap/snapcraft.yaml
Labels: snap

#564 snapcraft.yaml: simplify mongodb part to use advanced grammar
  snap/snapcraft.yaml
Labels: snap

#560 [snap] Expose mongoimport as an app
  snap/snapcraft.yaml
Labels: california dot - 0.6.1, snap

#582 snapcraft.yaml: remove base64 part
  snap/snapcraft.yaml
Labels: california dot - 0.6.1, snap

#559 security services forward-port from california
  .gitignore
  snap/README.md
  snap/bin/cassandra-wrapper.sh
  snap/bin/go-build-helper.sh
  snap/bin/kong-wrapper.sh
  snap/bin/security-start.sh
  snap/bin/start-consul.sh
  snap/bin/start-edgex.sh
  snap/bin/stop-edgex.sh
  snap/config/edgex-services-env
  snap/config/security-secret-store/vault-config.json.in
  snap/hooks/install
  snap/hooks/remove
  snap/snapcraft.yaml
Labels: snap

#587 Forward-porting california snap changes to master
  snap/bin/security-start.sh
  snap/bin/start-edgex.sh
  snap/bin/stop-edgex.sh
  snap/snapcraft.yaml
Labels: delhi, snap
