Repository edgexfoundry/edgex-go, pull requests merged in 2019-10, with the labels that each got.

#1848 Refactor SecretStoreClient to redude code duplication
  internal/security/secretstoreclient/messages.go
  internal/security/secretstoreclient/testdata/test-resp-init.json
  internal/security/secretstoreclient/vault.go
Labels: fuji, security-services

#1849 Resolve spurious unit test failures for fileioperformer in Windows
  internal/security/fileioperformer/methods_test.go
Labels: fuji, security-services

#1843 snapcraft.yaml: update docker-edgex-mongo args, add env var to disable security
  snap/snapcraft.yaml
Labels: fuji, snap

#1855 Remove delegate function from secretstoreclient processResponse
  internal/security/secretstoreclient/vault.go
Labels: fuji, security-services

#1852 Uses adopt-info with new 'version' part.
  snap/snapcraft.yaml
Labels: fuji, snap

#1854 Update support notifications to use common boostrap logic.
  cmd/support-notifications/main.go
  internal/support/notifications/config.go
  internal/support/notifications/init.go
Labels: core-services, fuji

#1625 Changing interval frequency field to use go standard time format
  cmd/support-scheduler/res/configuration.toml
  cmd/support-scheduler/res/docker/configuration.toml
  internal/support/scheduler/const.go
  internal/support/scheduler/interval.go
  internal/support/scheduler/schedulecontext.go
  internal/support/scheduler/schedulercontext_test.go
  internal/support/scheduler/utils.go
Labels: support-services

#1859 System Management Cyclical References
  cmd/sys-mgmt-agent/toml_test.go
  internal/system/agent/clients/general.go
  internal/system/agent/clients/general_test.go
  internal/system/agent/config/config.go
  internal/system/agent/direct/metrics.go
  internal/system/agent/getconfig/executor.go
  internal/system/agent/init.go
  internal/system/agent/setconfig/executor.go
Labels: fuji, system-management

#1873 Initialize and Unseal Vault in secretstore-setup init
  cmd/security-secretstore-setup/main.go
  internal/pkg/usage/usage.go
  internal/security/secretstore/certs_test.go
  internal/security/secretstore/config.go
  internal/security/secretstoreclient/vault.go
Labels: fuji, security-services

#1869 Fix error handling bug in SecretStoreClient.processResponse
  internal/security/secretstoreclient/vault.go
  internal/security/secretstoreclient/vault_test.go
Labels: fuji, security-services

#1887 The new boot functionality immediate creates a startup parameter with…
  cmd/core-command/main.go
  cmd/core-data/main.go
  cmd/core-metadata/main.go
  cmd/export-client/main.go
  cmd/export-distro/main.go
  cmd/support-logging/main.go
  cmd/support-notifications/main.go
  cmd/support-scheduler/main.go
  cmd/sys-mgmt-agent/main.go
  internal/constants.go
  internal/pkg/bootstrap/startup/timer.go
Labels: bug, core-services

#1882 support for configurable settings for security-secrets-setup
  cmd/security-secrets-setup/res/configuration.toml
  internal/security/setup/config.go
  internal/security/setup/option/cache.go
  internal/security/setup/option/cache_test.go
  internal/security/setup/option/constant.go
  internal/security/setup/option/generate.go
  internal/security/setup/option/generate_test.go
  internal/security/setup/option/import.go
  internal/security/setup/option/import_test.go
  internal/security/setup/option/optionHelpers.go
  internal/security/setup/option/optionHelpers_test.go
  internal/security/setup/option/testdata/res/configuration.toml
Labels: enhancement, security-services

#1893 add --confdir switch to security-secrets-setup
  cmd/security-secrets-setup/main.go
  internal/security/setup/init.go
  internal/security/setup/option/cache_test.go
  internal/security/setup/option/generate_test.go
  internal/security/setup/option/import_test.go
Labels: fuji, security-services

#1888 Create a README for System Management Executor Implementation.
  internal/system/executor/README.md
Labels: fuji

#1897 Config settings from Registry no longer properly copied into Services' configuration struct
  internal/core/command/config.go
  internal/core/data/config.go
  internal/core/metadata/config.go
  internal/export/client/config.go
  internal/export/distro/config.go
  internal/pkg/bootstrap/interfaces/configuration.go
  internal/support/logging/config.go
  internal/support/notifications/config.go
  internal/support/scheduler/config.go
  internal/system/agent/config/config.go
Labels: bug, fuji

#1902 Extract dbClient implementations into single common bootstrap handler
  cmd/core-command/main.go
  cmd/core-data/main.go
  cmd/core-metadata/main.go
  cmd/export-client/main.go
  cmd/support-notifications/main.go
  cmd/support-scheduler/main.go
  internal/core/command/config.go
  internal/core/command/init.go
  internal/core/data/config.go
  internal/core/data/init.go
  internal/core/metadata/config.go
  internal/core/metadata/init.go
  internal/export/client/config.go
  internal/export/client/init.go
  internal/export/distro/init.go
  internal/pkg/bootstrap/container/database.go
  internal/pkg/bootstrap/handlers/database/database.go
  internal/pkg/bootstrap/interfaces/database.go
  internal/pkg/config/types.go
  internal/pkg/db/interfaces/db.go
  internal/pkg/telemetry/telemetry.go
  internal/support/logging/config.go
  internal/support/notifications/config.go
  internal/support/notifications/init.go
  internal/support/scheduler/config.go
  internal/support/scheduler/init.go
  internal/system/agent/init.go
Labels: core-services, fuji

#1908 Error-handling pattern in core-data REST Handlers missing returns
  internal/core/data/router.go
Labels: bug, fuji

#1881 Refactor to encapsulate common bootstrap handlers in own packages
  cmd/core-command/main.go
  cmd/core-data/main.go
  cmd/core-metadata/main.go
  cmd/export-client/main.go
  cmd/export-distro/main.go
  cmd/support-logging/main.go
  cmd/support-notifications/main.go
  cmd/support-scheduler/main.go
  cmd/sys-mgmt-agent/main.go
  internal/pkg/bootstrap/handlers/httpserver/httpserver.go
  internal/pkg/bootstrap/handlers/message/message.go
  internal/pkg/bootstrap/handlers/secret/secret.go
Labels: core-services, fuji

#1905 Remove code obsoleted by common bootstrap package
  internal/pkg/telemetry/telemetry.go
  internal/pkg/telemetry/telemetry_test.go
Labels: core-services

#1915 Fixes #1814 (nil panic while logging missing res/configuration.toml)
  cmd/security-secretstore-setup/main.go
  internal/constants.go
  internal/security/secretstore/init.go
Labels: bug, fuji, security-services

#1900 Make Retry behavior configurable
  cmd/config-seed/res/configuration.toml
  cmd/config-seed/res/docker/configuration.toml
  cmd/core-command/res/configuration.toml
  cmd/core-command/res/docker/configuration.toml
  cmd/core-data/res/configuration.toml
  cmd/core-data/res/docker/configuration.toml
  cmd/core-metadata/res/configuration.toml
  cmd/core-metadata/res/docker/configuration.toml
  cmd/export-client/res/configuration.toml
  cmd/export-client/res/docker/configuration.toml
  cmd/export-distro/res/configuration.toml
  cmd/export-distro/res/docker/configuration.toml
  cmd/security-proxy-setup/res/configuration.toml
  cmd/security-proxy-setup/res/docker/configuration.toml
  cmd/security-secrets-setup/res/configuration.toml
  cmd/security-secretstore-setup/res/configuration.toml
  cmd/security-secretstore-setup/res/docker/configuration.toml
  cmd/support-logging/res/configuration.toml
  cmd/support-logging/res/docker/configuration.toml
  cmd/support-notifications/res/configuration.toml
  cmd/support-notifications/res/docker/configuration.toml
  cmd/support-scheduler/res/configuration.toml
  cmd/support-scheduler/res/docker/configuration.toml
  cmd/sys-mgmt-agent/res/configuration.toml
  cmd/sys-mgmt-agent/res/docker/configuration.toml
  internal/core/command/config.go
  internal/core/data/config.go
  internal/core/metadata/config.go
  internal/export/client/config.go
  internal/export/distro/config.go
  internal/pkg/bootstrap/bootstrap.go
  internal/pkg/bootstrap/configuration/environment.go
  internal/pkg/bootstrap/configuration/environment_test.go
  internal/pkg/bootstrap/interfaces/configuration.go
  internal/pkg/bootstrap/startup/timer.go
  internal/pkg/config/types.go
  internal/support/logging/config.go
  internal/support/notifications/config.go
  internal/support/scheduler/config.go
  internal/system/agent/config/config.go
Labels: enhancement

#1939 Makefile: rename security docker containers
  Makefile
Labels: fuji, security-services

#1836 Update security-secrets-setup README.md
  cmd/security-secrets-setup/README.md
Labels: documentation, fuji, security-services

#1936 Remove BSON from Service RAML Docs
  api/raml/core-command.raml
  api/raml/core-data.raml
  api/raml/core-metadata.raml
  api/raml/export-client.raml
  api/raml/support-notifications.raml
  api/raml/support-scheduler.raml
Labels: bug, documentation

#1916 security-secretstore-setup Credential Creation
  cmd/config-seed/Attribution.txt
  cmd/core-command/Attribution.txt
  cmd/core-data/Attribution.txt
  cmd/core-metadata/Attribution.txt
  cmd/export-client/Attribution.txt
  cmd/export-distro/Attribution.txt
  cmd/security-proxy-setup/Attribution.txt
  cmd/security-secrets-setup/Attribution.txt
  cmd/security-secretstore-setup/Attribution.txt
  cmd/security-secretstore-setup/main.go
  cmd/security-secretstore-setup/res/configuration.toml
  cmd/security-secretstore-setup/res/docker/configuration.toml
  cmd/support-logging/Attribution.txt
  cmd/support-notifications/Attribution.txt
  cmd/support-scheduler/Attribution.txt
  cmd/sys-mgmt-agent/Attribution.txt
  cmd/sys-mgmt-executor/Attribution.txt
  go.mod
  internal/security/secretstore/config.go
  internal/security/secretstore/password.go
  internal/security/secretstore/password_test.go
Labels: fuji, security-services

#1951 no issue--Address error message feedback from Ian Johnson in security-secretstore-setup
  internal/security/secretstore/password.go
Labels: enhancement, fuji, security-services

#1956 snapcraft.yaml: update rulesengine jar file name
  snap/snapcraft.yaml
Labels: fuji, snap

#1957 snapcraft.yaml: update rulesengine jar file name (edinburgh)
  snap/snapcraft.yaml
Labels: edinburgh, snap

#1949 Add git rev to snap version
  snap/snapcraft.yaml
Labels: fuji, snap

#1953 Add git rev to snap version
  snap/snapcraft.yaml
Labels: edinburgh, snap

#1965 Core-Command: List all cmds should return empty slice
  internal/core/command/device.go
Labels: bug, fuji

#1967 Consumed Go-Mod-Core-Contracts v0.1.31
  go.mod
  internal/core/metadata/rest_deviceprofile_test.go
Labels: enhancement, fuji

#1969 Fix security-secretstore-setup secret store initialization bug.
  cmd/security-secretstore-setup/main.go
Labels: bug, fuji, security-services

#1910 Fixed incorrect errorConcepts applied to Core Data
  internal/core/data/router.go
  internal/core/metadata/rest_deviceprofile.go
  internal/pkg/errorconcept/db.go
  internal/pkg/errorconcept/value_descriptors.go
Labels: bug, fuji

#1975 Revert "Add .git directory to .dockerignore file (#1974)"
  .dockerignore
  snap/snapcraft.yaml
Labels: bug, fuji, snap

#1959 snap: use postgres in the snap for kong's DB
  snap/hooks/configure
  snap/hooks/install
  snap/local/runtime-helpers/bin/cassandra-wrapper.sh
  snap/local/runtime-helpers/bin/gosu-snap_daemon.sh
  snap/local/runtime-helpers/bin/kong-daemon.sh
  snap/local/runtime-helpers/bin/kong-launch.sh
  snap/local/runtime-helpers/bin/kong-wrapper.sh
  snap/local/runtime-helpers/bin/perl5lib-launch.sh
  snap/local/runtime-helpers/etc/postgresql/10/main/postgresql.conf
  snap/snapcraft.yaml
Labels: fuji, snap

#1979 log resp-init.json file creation error
  cmd/security-secretstore-setup/main.go
Labels: enhancement, fuji, security-services

#1982 Fix marshaling of secretstore.UserPasswordPair
  internal/security/secretstore/password.go
  internal/security/secretstore/password_test.go
Labels: fuji, security-services

#1978 update README files for security components
  README.md
  SECURITY.md
  cmd/security-proxy-setup/README.md
  cmd/security-secrets-setup/README.md
  cmd/security-secretstore-setup/README.md
Labels: documentation, enhancement, fuji, security-services

#1987 Secret Bootstrap instantiates secretstore regardless of EDGEX_SECURITY_SECRET_STORE value
  internal/pkg/bootstrap/handlers/secret/secret.go
Labels: bug, fuji

#1985 Fix issue #1984: EdgeX Proxy Setup failed to retrieve CA certificate
  internal/security/proxy/requestor.go
Labels: bug, security-services

#1996 Fix "logTarget cannot be blank" every time on startup
  go.mod
  internal/pkg/bootstrap/logging/factory.go
Labels: bug, fuji

#1992 feat(config-seed): Change Config Seed rules engine properties for App-Service-Configurable
  cmd/config-seed/res/properties/edgex-support-rulesengine/application.properties
  cmd/config-seed/res/properties/edgex-support-rulesengine;docker/application.properties
Labels: bug, fuji

#2044 Correct comments in internal/system/agent/container/config.go
  internal/system/agent/container/config.go
Labels: geneva
