Repository edgexfoundry/edgex-go, pull requests merged in 2019-09, with the labels that each got.

#1707 Refactoring of the existing security-secrets-setup code
  .gitignore
  cmd/security-secrets-setup/main.go
  cmd/security-secrets-setup/main_test.go
  internal/constants.go
  internal/pkg/config/testdata/configuration-test.toml
  internal/pkg/config/testdata/pkisetup-fail.json
  internal/pkg/config/testdata/pkisetup-test.json
  internal/pkg/config/x509_test.go
  internal/pkg/usage/usage.go
  internal/security/setup/init.go
  internal/security/setup/option/constant.go
  internal/security/setup/option/exitCode.go
  internal/security/setup/option/mock_OptionsExecutor_test.go
  internal/security/setup/option/optionHelpers.go
  internal/security/setup/option/pkiOption.go
  internal/security/setup/option/pkiOption_test.go
Labels: fuji, security

#1757 Specify the `edinburgh` branch of mongo-config part
  snap/snapcraft.yaml
Labels: edinburgh, snap

#1777 load kong cert pair from filesystem to vault
  .gitignore
  cmd/security-secretstore-setup/main.go
  internal/security/secretstore/certs.go
  internal/security/secretstore/certs_test.go
  internal/security/secretstore/constants.go
  internal/security/secretstore/init.go
  internal/security/secretstore/requester.go
  internal/security/secretstore/testdata/test-resp-init.json
Labels: enhancement, fuji, security-services

#1747 Add [generate] subcommand from merging pki-init option generate into security-secrets-setup
  cmd/security-secrets-setup/entrypoint.sh
  cmd/security-secrets-setup/main.go
  cmd/security-secrets-setup/main_test.go
  internal/pkg/config/x509.go
  internal/pkg/config/x509_test.go
  internal/pkg/usage/usage.go
  internal/security/setup/option/constant.go
  internal/security/setup/option/generate.go
  internal/security/setup/option/generate_test.go
  internal/security/setup/option/optionHelpers.go
  internal/security/setup/option/pkiOption.go
  internal/security/setup/option/pkiOption_test.go
  internal/security/setup/option/testdata/res/configuration.toml
  internal/security/setup/option/testdata/res/pkisetup-kong.json
  internal/security/setup/option/testdata/res/pkisetup-vault.json
Labels: enhancement, fuji, security-services

#1773 SMA Health Check should not be limited to "known" services
  internal/system/agent/router.go
  internal/system/agent/services.go
Labels: fuji, system-management

#1774 snapcraft.yaml: update docker-edgex-mongo usage in the snap
  snap/hooks/install
  snap/local/runtime-helpers/bin/mongo-worker-wrapper.sh
  snap/snapcraft.yaml
Labels: fuji, snap

#1812 Convert sys-mgmt-agent to use common bootstrap package
  cmd/sys-mgmt-agent/main.go
  internal/system/agent/config.go
  internal/system/agent/init.go
  internal/system/agent/router.go
Labels: core-services, fuji

#1813 Fix issues around checking for existence of cert in secretstore
  internal/security/secretstore/certs.go
Labels: fuji, security-services

#1817 Core-Data/AddEvent - ErrServiceClient no longer a pointer
  internal/core/data/router.go
Labels: bug, fuji

#1820 Convert core-metadata to use common bootstrap package
  cmd/core-metadata/main.go
  internal/core/metadata/config.go
  internal/core/metadata/init.go
Labels: core-services, fuji

#1819 SMA Get Configuration Endpoint Without Registry Flag No Longer Returns Configuration
  cmd/sys-mgmt-agent/main.go
  internal/system/agent/direct/metrics.go
  internal/system/agent/init.go
  internal/system/agent/router.go
  internal/system/agent/services.go
Labels: bug, fuji, system-management

#1828 Service Bootstrap Timeout Not Being Honored
  internal/core/data/init.go
  internal/core/metadata/init.go
  internal/pkg/bootstrap/bootstrap.go
Labels: bug, core-services, fuji

#1821 Convert export-client to use common bootstrap package
  cmd/export-client/main.go
  internal/export/client/config.go
  internal/export/client/init.go
Labels: core-services, fuji

#1788 Creates fileioperformer I/O abstraction layer (part 1 of 6 merges for #1677)
  internal/security/fileioperformer/interface.go
  internal/security/fileioperformer/methods.go
  internal/security/fileioperformer/methods_test.go
  internal/security/fileioperformer/mocks/mock.go
  internal/security/fileioperformer/mocks/mock_test.go
Labels: security-services

#1839 Add min support version go 1.12 to go.mod
  go.mod
Labels: enhancement, fuji

#1829 Convert export-distro to use common bootstrap package
  cmd/export-distro/main.go
  internal/export/distro/config.go
  internal/export/distro/init.go
  internal/export/distro/registrations.go
Labels: core-services, fuji

#1790 Refactor vault client into standalone package with mocks (part 3 of 6 merges for #1677)
  internal/security/secretstoreclient/const.go
  internal/security/secretstoreclient/interface.go
  internal/security/secretstoreclient/mocks/mock.go
  internal/security/secretstoreclient/mocks/mock_test.go
  internal/security/secretstoreclient/requestor.go
  internal/security/secretstoreclient/requestor_test.go
  internal/security/secretstoreclient/testdata/test-resp-init.json
  internal/security/secretstoreclient/types.go
  internal/security/secretstoreclient/types_test.go
  internal/security/secretstoreclient/vault.go
  internal/security/secretstoreclient/vault_test.go
Labels: hold, security-services

#1789 Creates authtokenreader interface for Vault client token (part 2 of 6 merges for #1677)
  internal/security/authtokenloader/interface.go
  internal/security/authtokenloader/methods.go
  internal/security/authtokenloader/methods_test.go
  internal/security/authtokenloader/mocks/mock.go
  internal/security/authtokenloader/mocks/mock_test.go
  internal/security/authtokenloader/types.go
Labels: security-services

#1842 snapcraft.yaml: remove passthrough for start-timeout
  snap/snapcraft.yaml
Labels: fuji, snap

#1831 Convert support-logging to use common bootstrap package
  cmd/support-logging/main.go
  internal/support/logging/config.go
  internal/support/logging/init.go
Labels: core-services, fuji

#1844 Convert support-scheduler to use common bootstrap package
  cmd/support-scheduler/main.go
  internal/support/scheduler/config.go
  internal/support/scheduler/init.go
Labels: core-services, fuji

#1841 Refactor SMA Get/Set Implementation
  cmd/sys-mgmt-agent/main.go
  internal/system/agent/clients.go
  internal/system/agent/direct/metrics.go
  internal/system/agent/executor/metrics.go
  internal/system/agent/executor/operation.go
  internal/system/agent/get_config.go
  internal/system/agent/getconfig/executor.go
  internal/system/agent/getconfig/get.go
  internal/system/agent/getexecutor.go
  internal/system/agent/interfaces/config.go
  internal/system/agent/interfaces/operations.go
  internal/system/agent/router.go
  internal/system/agent/services.go
  internal/system/agent/set_config.go
  internal/system/agent/setconfig/executor-stub.go
  internal/system/agent/setconfig/executor.go
  internal/system/agent/setconfig/executor_test.go
  internal/system/agent/setconfig/set.go
  internal/system/agent/setexecutor.go
  internal/system/agent/setexecutor_test.go
Labels: fuji, system-management

#1833 Update README -- Go version pre-req to 1.12.x
  README.md
Labels: bug, documentation

#1847 SMA should support disable/enable parameters for stop/start
  go.mod
  internal/system/agent/executor/executor-stub.go
  internal/system/agent/executor/executor.go
  internal/system/agent/executor/metrics.go
  internal/system/agent/executor/operation.go
  internal/system/agent/executor/operation_test.go
  internal/system/agent/interfaces/executor.go
  internal/system/agent/interfaces/operations.go
  internal/system/agent/router.go
Labels: fuji, system-management
