Repository edgexfoundry/edgex-go, pull requests merged in 2019-02, with the labels that each got.

#1083 Added docs content for logging keys
  docs/support/logging/Ch-Logging.rst
Labels: documentation, edinburgh

#960 Update security services from Delhi, split into separate daemons
  snap/hooks/configure
  snap/hooks/install
  snap/local/runtime-helpers/bin/edgexproxy-wrapper.sh
  snap/local/runtime-helpers/bin/kong-daemon.sh
  snap/local/runtime-helpers/bin/kong-stop.sh
  snap/local/runtime-helpers/bin/pkisetup-wrapper.sh
  snap/local/runtime-helpers/bin/security-start.sh
  snap/local/runtime-helpers/bin/security-stop.sh
  snap/local/runtime-helpers/bin/vault-worker-wrapper.sh
  snap/local/runtime-helpers/bin/wait-for-consul.sh
  snap/local/runtime-helpers/config/security-secret-store/vault-config.json.in
  snap/snapcraft.yaml
Labels: edinburgh, security, snap

#1085 Upgrade go to 1.11.2, vault to 1.0.2
  snap/snapcraft.yaml
Labels: edinburgh, snap

#1086 Add new device services for master
  snap/hooks/configure
  snap/hooks/install
  snap/snapcraft.yaml
Labels: edinburgh, snap

#1093 snapcraft.yaml: stage Attribution.txt files for dev svcs into snap
  snap/snapcraft.yaml
Labels: edinburgh, snap

#1090 Propogating correlation-id through EventPublisher
  cmd/export-distro/main.go
  internal/core/data/device_test.go
  internal/core/data/event.go
  internal/core/data/messaging/eventpublisher.go
  internal/core/data/messaging/zeromq.go
  internal/export/distro/filter.go
  internal/export/distro/filter_test.go
  internal/export/distro/format.go
  internal/export/distro/format_test.go
  internal/export/distro/httpsender.go
  internal/export/distro/httpsender_test.go
  internal/export/distro/influxdb.go
  internal/export/distro/mqtt.go
  internal/export/distro/registrations.go
  internal/export/distro/registrations_test.go
  internal/export/distro/types.go
  internal/export/distro/xmpp.go
  internal/export/distro/zeromq.go
  internal/pkg/correlation/models/event.go
  pkg/models/event.go
Labels: core-services, edinburgh, enhancement, export-services

#950 Upgrade snapcraft version and refactor build scripts
  snap/Dockerfile.build
  snap/build.sh
  snap/entrypoint.sh
  snap/snapcraft.yaml
Labels: snap

#1102 snap/build.sh: fix typo in job name for snap release job
  snap/build.sh
  snap/snapcraft.yaml
Labels: snap

#1106 snapcraft.yaml: fix architectures key
  snap/snapcraft.yaml
Labels: snap

#1108 Eliminate glide. Use go modules.
  Makefile
  cmd/config-seed/Dockerfile
  cmd/core-command/Dockerfile
  cmd/core-data/Dockerfile
  cmd/core-metadata/Dockerfile
  cmd/export-client/Dockerfile
  cmd/export-distro/Dockerfile
  cmd/support-logging/Dockerfile
  cmd/support-notifications/Dockerfile
  cmd/support-scheduler/Dockerfile
  glide.yaml
  go.mod
  internal/system/agent/executor/docker.go
  internal/system/agent/init.go
Labels: edinburgh, enhancement

#1113 Caching go module deps via Docker COPY
  cmd/config-seed/Dockerfile
  cmd/core-command/Dockerfile
  cmd/core-data/Dockerfile
  cmd/core-metadata/Dockerfile
  cmd/export-client/Dockerfile
  cmd/export-distro/Dockerfile
  cmd/support-logging/Dockerfile
  cmd/support-notifications/Dockerfile
  cmd/support-scheduler/Dockerfile
Labels: edinburgh, enhancement

#1123 404s should be wrapped by ErrServiceClient
  go.mod
  internal/core/data/router.go
Labels: bug, edinburgh

#1127 Utilizing golang:1.11-alpine as base Docker image
  cmd/config-seed/Dockerfile
  cmd/core-command/Dockerfile
  cmd/core-data/Dockerfile
  cmd/core-metadata/Dockerfile
  cmd/export-client/Dockerfile
  cmd/export-distro/Dockerfile
  cmd/support-logging/Dockerfile
  cmd/support-notifications/Dockerfile
  cmd/support-scheduler/Dockerfile
Labels: edinburgh, enhancement

#1128 Copying Attribution.txt files into Docker images
  cmd/config-seed/Dockerfile
  cmd/core-command/Dockerfile
  cmd/core-data/Dockerfile
  cmd/core-metadata/Dockerfile
  cmd/export-client/Dockerfile
  cmd/export-distro/Dockerfile
  cmd/support-logging/Dockerfile
  cmd/support-notifications/Dockerfile
  cmd/support-scheduler/Dockerfile
Labels: bug, edinburgh

#1134 Build go with modules off, to allow building go parts with modules
  snap/snapcraft.yaml
Labels: snap
