Repository edgexfoundry/edgex-go, pull requests merged in 2019-06, with the labels that each got.

#1396 Build consul 1.3.1 in the snap
  snap/snapcraft.yaml
Labels: fuji, snap

#1398 snap/many: update kong to 1.0.3
  snap/hooks/install
  snap/local/runtime-helpers/bin/kong-daemon.sh
  snap/snapcraft.yaml
Labels: fuji, snap

#1408 snapcraft.yaml: update registry arg for dev svcs
  snap/snapcraft.yaml
Labels: fuji, snap

#1407 Build 1.3.1 consul in snap (edinburgh)
  snap/snapcraft.yaml
Labels: edinburgh, snap

#1400 Improve delete event performance
  internal/core/data/event.go
  internal/core/data/event_test.go
  internal/core/data/init.go
  internal/core/data/interfaces/db.go
  internal/core/data/interfaces/mocks/DBClient.go
  internal/core/metadata/init.go
  internal/export/client/init.go
  internal/pkg/db/db.go
  internal/pkg/db/mongo/data.go
  internal/pkg/db/redis/client.go
  internal/pkg/db/redis/data.go
  internal/support/notifications/init.go
  internal/support/scheduler/init.go
Labels: fuji

#1438 Updated Docker configuration to log to support-logging.
  cmd/core-command/res/docker/configuration.toml
  cmd/core-metadata/res/docker/configuration.toml
  cmd/export-distro/res/docker/configuration.toml
  cmd/support-notifications/res/docker/configuration.toml
  cmd/support-scheduler/res/docker/configuration.toml
  cmd/sys-mgmt-agent/res/docker/configuration.toml
Labels: bug, edinburgh

#1443 Fixes #1402 - rewrote the hybrids developer guide to use Go Land and …
  docs/api/Ch-APIExportClientRegistration-MQTT.rst
  docs/device/sdk/Ch-DeviceSDK.rst
  docs/examples/Ch-ExamplesAddingModbusDevice.rst
  docs/general/Ch-Intro.rst
  docs/getting-started/Ch-GettingStartedGoDevelopers.rst
  docs/getting-started/Ch-GettingStartedHybrid.rst
  docs/getting-started/Ch-GettingStartedSDK-Go.rst
  docs/getting-started/Ch-GettingStartedUsers.rst
  docs/getting-started/EdgeX_GettingStartedHybridGoLand.png
  docs/walk-through/Ch-WalkthroughRunning.rst
Labels: documentation, edinburgh

#1453 Refactor "Add New Device" API Endpoint for Greater Unit Test Coverage
  internal/core/metadata/addressable.go
  internal/core/metadata/addressable_test.go
  internal/core/metadata/errors/types.go
  internal/core/metadata/operators/device/add.go
  internal/core/metadata/operators/device/add_test.go
  internal/core/metadata/operators/device/db.go
  internal/core/metadata/operators/device/events.go
  internal/core/metadata/operators/device/mocks/DeviceAdder.go
  internal/core/metadata/operators/device/mocks/DeviceServiceLoader.go
  internal/core/metadata/operators/device/notify.go
  internal/core/metadata/operators/device/notify_test.go
  internal/core/metadata/operators/device/request.go
  internal/core/metadata/operators/device/request_test.go
  internal/core/metadata/rest_addressable.go
  internal/core/metadata/rest_device.go
Labels: core-services, enhancement, fuji

#1459 Fix security-api-gateway config file
  snap/snapcraft.yaml
Labels: edinburgh, snap

#1483 Adding unit tests for core-metadata/api/v1/device route
  internal/core/metadata/operators/device/db.go
  internal/core/metadata/operators/device/get.go
  internal/core/metadata/operators/device/get_test.go
  internal/core/metadata/operators/device/mocks/DeviceLoader.go
  internal/core/metadata/rest_device.go
  internal/core/metadata/rest_device_test.go
Labels: core-services, enhancement
