Repository edgexfoundry/edgex-go, pull requests merged in 2019-11, with the labels that each got.

#2042 Remove 'LoggingClient' global usage in core-data
  cmd/core-data/main.go
  internal/core/data/device.go
  internal/core/data/device_test.go
  internal/core/data/domain_events.go
  internal/core/data/event.go
  internal/core/data/event_test.go
  internal/core/data/init.go
  internal/core/data/reading.go
  internal/core/data/reading_test.go
  internal/core/data/router.go
  internal/core/data/router_test.go
  internal/core/data/utils.go
  internal/core/data/valuedescriptor.go
  internal/core/data/valuedescriptor_test.go
Labels: enhancement, geneva

#2054 [FUJI BRANCH] Fix nil panic when configuration.toml can't be loaded.
  cmd/security-proxy-setup/main.go
  internal/security/proxy/init.go
Labels: bug, fuji, security-services

#2045 Remove 'LoggingClient' global usage in core-command
  cmd/core-command/main.go
  internal/core/command/config.go
  internal/core/command/const.go
  internal/core/command/device.go
  internal/core/command/device_test.go
  internal/core/command/get.go
  internal/core/command/get_test.go
  internal/core/command/init.go
  internal/core/command/interfaces.go
  internal/core/command/put.go
  internal/core/command/put_test.go
  internal/core/command/restDevice.go
  internal/core/command/router.go
  internal/core/command/types.go
  internal/core/command/types_test.go
  internal/pkg/di/container.go
Labels: geneva

#2063 notifications: refactor to remove LoggingClient global variable
  cmd/support-notifications/main.go
  internal/support/notifications/cleanup.go
  internal/support/notifications/distribution_coordinator.go
  internal/support/notifications/escalating_service.go
  internal/support/notifications/init.go
  internal/support/notifications/normal_distribution.go
  internal/support/notifications/rest_notification.go
  internal/support/notifications/rest_notification_test.go
  internal/support/notifications/rest_subscription.go
  internal/support/notifications/rest_subscription_test.go
  internal/support/notifications/rest_transmission.go
  internal/support/notifications/router.go
  internal/support/notifications/sending_service.go
  internal/support/notifications/utils.go
Labels: geneva

#2065 notifications: refactor to remove dbClient global variable
  cmd/support-notifications/main.go
  internal/support/notifications/cleanup.go
  internal/support/notifications/distribution_coordinator.go
  internal/support/notifications/escalating_service.go
  internal/support/notifications/init.go
  internal/support/notifications/normal_distribution.go
  internal/support/notifications/rest_notification.go
  internal/support/notifications/rest_notification_test.go
  internal/support/notifications/rest_subscription.go
  internal/support/notifications/rest_subscription_test.go
  internal/support/notifications/rest_transmission.go
  internal/support/notifications/router.go
  internal/support/notifications/sending_service.go
Labels: geneva

#2066 notifications: refactor to remove Configuration global variable
  cmd/support-notifications/main.go
  cmd/support-notifications/toml_test.go
  internal/support/notifications/config/config.go
  internal/support/notifications/container/config.go
  internal/support/notifications/distribution_coordinator.go
  internal/support/notifications/escalating_service.go
  internal/support/notifications/normal_distribution.go
  internal/support/notifications/rest_notification.go
  internal/support/notifications/rest_notification_test.go
  internal/support/notifications/rest_subscription_test.go
  internal/support/notifications/router.go
  internal/support/notifications/sending_service.go
  internal/support/notifications/utils.go
Labels: geneva

#2059 many/configuration.toml: set default security key values, fix proxy SNIs (master)
  bin/edgex-launch.sh
  cmd/core-command/res/configuration.toml
  cmd/core-data/res/configuration.toml
  cmd/core-metadata/res/configuration.toml
  cmd/export-client/res/configuration.toml
  cmd/security-proxy-setup/res/configuration.toml
  cmd/support-logging/res/configuration.toml
  cmd/support-notifications/res/configuration.toml
  cmd/support-scheduler/res/configuration.toml
Labels: core-services, export-services, geneva, security-services, support-services

#2068 Command: refactor to remove dbClient global variable
  internal/core/command/device.go
  internal/core/command/device_test.go
  internal/core/command/init.go
  internal/core/command/restDevice.go
  internal/core/command/router.go
Labels: geneva

#2075 security-{proxy,secretstore}-setup/Dockerfile: use alpine to get curl
  cmd/security-proxy-setup/Dockerfile
  cmd/security-secretstore-setup/Dockerfile
Labels: fuji, security-services

#2055 Fix nil panic when configuration.toml can't be loaded.
  cmd/security-proxy-setup/main.go
  internal/security/proxy/init.go
Labels: bug, geneva, security-services

#2079 Command: refactor to remove mdc global variable
  internal/core/command/containers/device.go
  internal/core/command/device.go
  internal/core/command/device_test.go
  internal/core/command/init.go
  internal/core/command/restDevice.go
  internal/core/command/router.go
Labels: geneva

#2067 Refactor Metadata-related code to remove LoggingClient global variable.
  cmd/core-metadata/main.go
  internal/core/metadata/init.go
  internal/core/metadata/rest_addressable.go
  internal/core/metadata/rest_addressable_test.go
  internal/core/metadata/rest_command.go
  internal/core/metadata/rest_command_test.go
  internal/core/metadata/rest_device.go
  internal/core/metadata/rest_device_test.go
  internal/core/metadata/rest_deviceprofile.go
  internal/core/metadata/rest_deviceprofile_test.go
  internal/core/metadata/rest_devicereport.go
  internal/core/metadata/rest_deviceservice.go
  internal/core/metadata/rest_deviceservice_test.go
  internal/core/metadata/rest_provisionwatcher.go
  internal/core/metadata/router.go
  internal/core/metadata/utils.go
Labels: geneva

#2085 fix: #2034 fixes bug around named return values (edinburgh)
  internal/pkg/db/mongo/models/device.go
Labels: edinburgh

#2083 fix: #2034 fixes bug around named return values (fuji)
  internal/pkg/db/mongo/models/device.go
Labels: core-services, fuji

#2084 fix: #2034 fixes bug around named return values (master)
  internal/pkg/db/mongo/models/device.go
Labels: core-services

#2087 Add configuration for SecretClient retries (master)
  cmd/core-command/res/configuration.toml
  cmd/core-command/res/docker/configuration.toml
  cmd/core-data/res/configuration.toml
  cmd/core-data/res/docker/configuration.toml
  cmd/core-metadata/res/configuration.toml
  cmd/core-metadata/res/docker/configuration.toml
  cmd/export-client/res/configuration.toml
  cmd/export-client/res/docker/configuration.toml
  cmd/support-logging/res/configuration.toml
  cmd/support-logging/res/docker/configuration.toml
  cmd/support-notifications/res/configuration.toml
  cmd/support-notifications/res/docker/configuration.toml
  cmd/support-scheduler/res/configuration.toml
  cmd/support-scheduler/res/docker/configuration.toml
  go.mod
  internal/pkg/bootstrap/handlers/secret/secret.go
Labels: core-services, enhancement, geneva

#2093 Add configuration for SecretClient retries (fuji)
  cmd/core-command/res/configuration.toml
  cmd/core-command/res/docker/configuration.toml
  cmd/core-data/res/configuration.toml
  cmd/core-data/res/docker/configuration.toml
  cmd/core-metadata/res/configuration.toml
  cmd/core-metadata/res/docker/configuration.toml
  cmd/export-client/res/configuration.toml
  cmd/export-client/res/docker/configuration.toml
  cmd/support-logging/res/configuration.toml
  cmd/support-logging/res/docker/configuration.toml
  cmd/support-notifications/res/configuration.toml
  cmd/support-notifications/res/docker/configuration.toml
  cmd/support-scheduler/res/configuration.toml
  cmd/support-scheduler/res/docker/configuration.toml
  go.mod
  internal/pkg/bootstrap/handlers/secret/secret.go
Labels: core-services, enhancement, fuji

#2073 Fix the incorrect Redis command names (master)
  internal/pkg/db/redis/queries.go
Labels: bug, fuji

#2098 many/configuration.toml: use time.Duration string for RetryWaitPeriod
  cmd/core-command/res/configuration.toml
  cmd/core-command/res/docker/configuration.toml
  cmd/core-data/res/configuration.toml
  cmd/core-data/res/docker/configuration.toml
  cmd/core-metadata/res/configuration.toml
  cmd/core-metadata/res/docker/configuration.toml
  cmd/export-client/res/configuration.toml
  cmd/export-client/res/docker/configuration.toml
  cmd/support-logging/res/configuration.toml
  cmd/support-logging/res/docker/configuration.toml
  cmd/support-notifications/res/configuration.toml
  cmd/support-notifications/res/docker/configuration.toml
  cmd/support-scheduler/res/configuration.toml
  cmd/support-scheduler/res/docker/configuration.toml
  go.mod
  snap/snapcraft.yaml
Labels: bug, core-services, export-services, fuji, support-services

#2102 snapcraft.yaml: add security-proxy-setup-cmd
  snap/snapcraft.yaml
Labels: fuji, snap

#2114 security-{proxy,secretstore}-setup/Dockerfile: use alpine to get curl (master)
  cmd/security-proxy-setup/Dockerfile
  cmd/security-secretstore-setup/Dockerfile
Labels: geneva, security-services

#2112 (master) Fixed bug with using Redis for core-command in Docker.
  cmd/config-seed/Dockerfile
Labels: bug, geneva

#2111 (fuji) Fixed bug with using Redis for core-command in Docker.
  cmd/config-seed/Dockerfile
Labels: bug, fuji

#2094 (fuji) Delete event func for Redis misses the deletion of pushed and device collection
  internal/pkg/db/redis/data.go
  internal/pkg/db/redis/event.go
  internal/pkg/db/redis/queries.go
Labels: bug, fuji

#2096 (master) Delete event func for Redis misses the deletion of pushed and device collection
  internal/pkg/db/redis/data.go
  internal/pkg/db/redis/event.go
  internal/pkg/db/redis/queries.go
Labels: bug, geneva

#2118 Command: refactor to remove configuration global variable
  cmd/core-command/main.go
  cmd/core-command/toml_test.go
  internal/core/command/config/config.go
  internal/core/command/container/config.go
  internal/core/command/container/device.go
  internal/core/command/device.go
  internal/core/command/init.go
  internal/core/command/restDevice.go
  internal/core/command/router.go
Labels: geneva

#2116 Add app-service-config with rules-engine profile to the snap
  snap/hooks/configure
  snap/hooks/install
  snap/snapcraft.yaml
Labels: export-services, fuji, snap

#2122 Fix update device functionality to correct method
  internal/core/metadata/operators/device/update.go
  internal/core/metadata/operators/device/update_test.go
Labels: bug, device-services, geneva

#2124 security-proxy-setup: refactor to remove Configuration global variable
  cmd/security-proxy-setup/main.go
  internal/security/proxy/certs.go
  internal/security/proxy/certs_test.go
  internal/security/proxy/config.go
  internal/security/proxy/config/config.go
  internal/security/proxy/consumer.go
  internal/security/proxy/consumer_test.go
  internal/security/proxy/container/config.go
  internal/security/proxy/init.go
  internal/security/proxy/requestor.go
  internal/security/proxy/resource.go
  internal/security/proxy/resource_test.go
  internal/security/proxy/service.go
  internal/security/proxy/service_test.go
  internal/security/secrets/option/generate_test.go
Labels: core-services, geneva, security-services

#2117 Convert security-proxy-setup to use common bootstrap package
  cmd/security-proxy-setup/main.go
  internal/security/proxy/certs_test.go
  internal/security/proxy/config.go
  internal/security/proxy/config/config.go
  internal/security/proxy/consumer_test.go
  internal/security/proxy/init.go
  internal/security/proxy/resource_test.go
  internal/security/proxy/service_test.go
Labels: core-services, geneva, security-services

#2126 Convert security-secretstore-setup to use common bootstrap package
  cmd/security-secretstore-setup/main.go
  internal/security/proxy/init.go
  internal/security/secretstore/config.go
  internal/security/secretstore/init.go
Labels: core-services, geneva, security-services

#2131 security-secretstore-setup: refactor to remove Configuration global variable
  cmd/security-secretstore-setup/main.go
  internal/security/secretstore/certs.go
  internal/security/secretstore/certs_test.go
  internal/security/secretstore/config/config.go
  internal/security/secretstore/container/config.go
  internal/security/secretstore/init.go
  internal/security/secretstore/password.go
  internal/security/secretstore/password_test.go
  internal/security/secretstore/requester.go
Labels: core-services, geneva, security-services

#2129 security-secretstore-setup: refactor to remove LoggingClient global variable
  internal/security/secretstore/certs.go
  internal/security/secretstore/certs_test.go
  internal/security/secretstore/init.go
  internal/security/secretstore/password.go
  internal/security/secretstore/password_test.go
  internal/security/secretstore/requester.go
Labels: core-services, geneva, security-services

#2100 Endpointer Clean Up
  go.mod
  internal/pkg/endpoint/endpoint.go
Labels: geneva

#2113 snapcraft.yaml: upgrade Kong to 1.3.0, upgrade MongoDB to 4.2
  snap/snapcraft.yaml
Labels: core-services, fuji, security-services, snap

#2139 Specify XDG_RUNTIME_DIR as /tmp for security-secrets-setup in the snap
  snap/snapcraft.yaml
Labels: fuji, security-services, snap

#2147 Specify XDG_RUNTIME_DIR as /tmp for security-secrets-setup in the snap (master)
  snap/snapcraft.yaml
Labels: bug, geneva, security-services, snap

#2136 snapcraft.yaml: add security-proxy-setup-cmd (for master)
  snap/snapcraft.yaml
Labels: geneva, security-services, snap

#2148 Refactor core-command and apply errorConcepts
  internal/core/command/device.go
  internal/core/command/device_test.go
  internal/core/command/errors/types.go
  internal/core/command/init.go
  internal/core/command/restDevice.go
  internal/core/command/router.go
  internal/pkg/container/errorHandler.go
  internal/pkg/errorconcept/command.go
  internal/pkg/errorconcept/device.go
  internal/pkg/errorconcept/handler.go
Labels: geneva

#2149 Remove dbClient global variable from core-data
  internal/core/data/event.go
  internal/core/data/event_test.go
  internal/core/data/init.go
  internal/core/data/reading.go
  internal/core/data/reading_test.go
  internal/core/data/router.go
  internal/core/data/router_test.go
  internal/core/data/valuedescriptor.go
  internal/core/data/valuedescriptor_test.go
Labels: core-services, enhancement, geneva

#2142 Convert security-secrets-setup to use common bootstrap package
  cmd/security-secrets-setup/main.go
  cmd/security-secrets-setup/main_test.go
  cmd/security-secrets-setup/testdata/res/configuration.toml
  internal/pkg/bootstrap/bootstrap.go
  internal/pkg/bootstrap/logging/factory.go
  internal/security/secrets/certificates/crypto.go
  internal/security/secrets/certificates/crypto_test.go
  internal/security/secrets/certificates/interface.go
  internal/security/secrets/certificates/interface_test.go
  internal/security/secrets/certificates/root.go
  internal/security/secrets/certificates/root_test.go
  internal/security/secrets/certificates/tls.go
  internal/security/secrets/certificates/tls_test.go
  internal/security/secrets/command/cache/cache.go
  internal/security/secrets/command/cache/cache_test.go
  internal/security/secrets/command/cache/testdata/res/configuration.toml
  internal/security/secrets/command/cache/testdata/res/pkisetup-kong.json
  internal/security/secrets/command/cache/testdata/res/pkisetup-vault.json
  internal/security/secrets/command/generate/generate.go
  internal/security/secrets/command/generate/generate_test.go
  internal/security/secrets/command/generate/testdata/res/configuration.toml
  internal/security/secrets/command/generate/testdata/res/pkisetup-kong.json
  internal/security/secrets/command/generate/testdata/res/pkisetup-vault.json
  internal/security/secrets/command/import/import.go
  internal/security/secrets/command/import/import_test.go
  internal/security/secrets/command/import/testdata/res/configuration.toml
  internal/security/secrets/command/import/testdata/res/pkisetup-kong.json
  internal/security/secrets/command/import/testdata/res/pkisetup-vault.json
  internal/security/secrets/command/legacy/legacy.go
  internal/security/secrets/config/config.go
  internal/security/secrets/container/config.go
  internal/security/secrets/contract/command.go
  internal/security/secrets/contract/directoryhandler.go
  internal/security/secrets/contract/flagset.go
  internal/security/secrets/directory/directory.go
  internal/security/secrets/helper/helper.go
  internal/security/secrets/helper/helper_test.go
  internal/security/secrets/init.go
  internal/security/secrets/option/cache.go
  internal/security/secrets/option/cache_test.go
  internal/security/secrets/option/constant.go
  internal/security/secrets/option/exitCode.go
  internal/security/secrets/option/generate.go
  internal/security/secrets/option/generate_test.go
  internal/security/secrets/option/import.go
  internal/security/secrets/option/import_test.go
  internal/security/secrets/option/mock_OptionsExecutor_test.go
  internal/security/secrets/option/optionHelpers_test.go
  internal/security/secrets/option/pkiOption.go
  internal/security/secrets/option/pkiOption_test.go
  internal/security/secrets/seed/seed.go
  internal/security/secrets/seed/seed_test.go
  internal/security/secrets/test/test.go
Labels: core-services, geneva, security-services

#2153 Update VERSION to master for Nexus images
  VERSION
Labels: geneva

#2137 snapcraft.yaml: upgrade Kong to 1.3.0, upgrade MongoDB to 4.2
  snap/snapcraft.yaml
Labels: core-services, enhancement, geneva, security-services, snap

#2103 many/configuration.toml: use time.Duration string for RetryWaitPeriod
  cmd/core-command/res/configuration.toml
  cmd/core-command/res/docker/configuration.toml
  cmd/core-data/res/configuration.toml
  cmd/core-data/res/docker/configuration.toml
  cmd/core-metadata/res/configuration.toml
  cmd/core-metadata/res/docker/configuration.toml
  cmd/export-client/res/configuration.toml
  cmd/export-client/res/docker/configuration.toml
  cmd/support-logging/res/configuration.toml
  cmd/support-logging/res/docker/configuration.toml
  cmd/support-notifications/res/configuration.toml
  cmd/support-notifications/res/docker/configuration.toml
  cmd/support-scheduler/res/configuration.toml
  cmd/support-scheduler/res/docker/configuration.toml
  go.mod
Labels: bug, core-services, export-services, geneva, support-services

#2146 Split customized vault into two docker images- part 1
  Makefile
  cmd/security-secrets-setup/Dockerfile
  cmd/security-secrets-setup/entrypoint.sh
  cmd/security-secrets-setup/start_vault.sh
  cmd/security-secretstore-setup/Dockerfile
  cmd/security-secretstore-setup/entrypoint.sh
Labels: geneva, security-services

#2134 Add app-service-config with rules-engine profile to the snap (master)
  snap/hooks/configure
  snap/hooks/install
  snap/snapcraft.yaml
Labels: export-services, geneva, snap

#2152 Scheduler: Remove LoggingClient global variable
  cmd/support-scheduler/main.go
  internal/pkg/bootstrap/configuration/file.go
  internal/pkg/bootstrap/configuration/registry.go
  internal/support/logging/init.go
  internal/support/scheduler/init.go
  internal/support/scheduler/interval.go
  internal/support/scheduler/interval_action.go
  internal/support/scheduler/interval_test.go
  internal/support/scheduler/loader.go
  internal/support/scheduler/rest_interval.go
  internal/support/scheduler/rest_interval_test.go
  internal/support/scheduler/rest_intervalaction.go
  internal/support/scheduler/rest_intervalaction_test.go
  internal/support/scheduler/router.go
  internal/support/scheduler/schedule.go
  internal/support/scheduler/schedulecontext.go
  internal/support/scheduler/schedulercontext_test.go
  internal/support/scheduler/utils.go
Labels: geneva

#2140 Refactor metadata to remove the httpErrorHandler global variable.
  internal/core/metadata/init.go
  internal/core/metadata/rest_addressable.go
  internal/core/metadata/rest_addressable_test.go
  internal/core/metadata/rest_command.go
  internal/core/metadata/rest_command_test.go
  internal/core/metadata/rest_device.go
  internal/core/metadata/rest_device_test.go
  internal/core/metadata/rest_deviceprofile.go
  internal/core/metadata/rest_deviceprofile_test.go
  internal/core/metadata/rest_devicereport.go
  internal/core/metadata/rest_deviceservice.go
  internal/core/metadata/rest_deviceservice_test.go
  internal/core/metadata/rest_provisionwatcher.go
  internal/core/metadata/router.go
Labels: geneva

#2162 Scheduler: Remove QueueClient global and refactor its code
  internal/support/scheduler/schedule.go
  internal/support/scheduler/utils.go
Labels: geneva

#2164 Split customized vault into two docker images- part 2
  cmd/core-command/res/docker/configuration.toml
  cmd/core-data/res/docker/configuration.toml
  cmd/core-metadata/res/docker/configuration.toml
  cmd/export-client/res/docker/configuration.toml
  cmd/security-proxy-setup/res/docker/configuration.toml
  cmd/security-secrets-setup/entrypoint.sh
  cmd/security-secrets-setup/res/configuration.toml
  cmd/security-secrets-setup/start_vault.sh
  cmd/security-secretstore-setup/res/docker/configuration.toml
  cmd/support-logging/res/docker/configuration.toml
  cmd/support-notifications/res/docker/configuration.toml
  cmd/support-scheduler/res/docker/configuration.toml
  internal/security/secrets/helper/helper.go
  internal/security/secrets/helper/helper_test.go
Labels: geneva, security-services

#2165 Fix orphaned event checksum data for Redis
  internal/pkg/db/redis/data.go
  internal/pkg/db/redis/event.go
Labels: bug, core-services, geneva

#2167 Scheduler: Remove dbClient global variable
  internal/support/scheduler/init.go
  internal/support/scheduler/interval.go
  internal/support/scheduler/interval_action.go
  internal/support/scheduler/interval_action_test.go
  internal/support/scheduler/interval_test.go
  internal/support/scheduler/loader.go
  internal/support/scheduler/rest_interval.go
  internal/support/scheduler/rest_interval_test.go
  internal/support/scheduler/rest_intervalaction.go
  internal/support/scheduler/rest_intervalaction_test.go
  internal/support/scheduler/router.go
Labels: geneva

#2176 Scheduler: Remove ticker global variable
  internal/support/scheduler/init.go
  internal/support/scheduler/schedule.go
Labels: geneva

#2177 Scheduler: Remove scClient global variable
  internal/support/scheduler/container/queue.go
  internal/support/scheduler/init.go
  internal/support/scheduler/interval.go
  internal/support/scheduler/interval_action.go
  internal/support/scheduler/interval_action_test.go
  internal/support/scheduler/interval_test.go
  internal/support/scheduler/loader.go
  internal/support/scheduler/rest_interval.go
  internal/support/scheduler/rest_interval_test.go
  internal/support/scheduler/rest_intervalaction.go
  internal/support/scheduler/rest_intervalaction_test.go
  internal/support/scheduler/router.go
Labels: geneva

#2175 Refactoring to move security service keys from edgex-go to go-mod-core contracts.
  cmd/security-proxy-setup/main.go
  cmd/security-secrets-setup/main.go
  cmd/security-secretstore-setup/main.go
  go.mod
  internal/constants.go
Labels: enhancement, geneva, security-services

#2180 Update the default TLS path to /tmp instead of /run for snap
  snap/snapcraft.yaml
Labels: bug, geneva, security-services, snap

#2179 Scheduler: Remove Configuration global variable
  cmd/support-scheduler/main.go
  cmd/support-scheduler/toml_test.go
  internal/support/scheduler/config/config.go
  internal/support/scheduler/container/config.go
  internal/support/scheduler/init.go
  internal/support/scheduler/interval_test.go
  internal/support/scheduler/loader.go
  internal/support/scheduler/rest_interval.go
  internal/support/scheduler/rest_interval_test.go
  internal/support/scheduler/rest_intervalaction.go
  internal/support/scheduler/rest_intervalaction_test.go
  internal/support/scheduler/router.go
  internal/support/scheduler/schedule.go
Labels: geneva

#2182 Removed unused request parameters from scheduler and command.
  internal/core/command/router.go
  internal/support/scheduler/router.go
Labels: geneva
