Repository edgexfoundry/edgex-go, pull requests merged in 2019-04, with the labels that each got.

#1226 snapcraft.yaml: remove configuration-driver.toml file for
  snap/snapcraft.yaml
Labels: edinburgh, snap

#1237 Corrected doc link to core-command RAML
  docs/api/Ch-APICoreCommand.rst
Labels: documentation

#1232 snap/hooks/install: don't try to install the configuration-driver.toml
  snap/hooks/install
Labels: edinburgh, snap

#1160 Fix SMA's ExecutorPath; implement snap-specific executor
  cmd/sys-mgmt-agent/res/configuration.toml
  internal/system/agent/execution_engine.go
  internal/system/agent/init.go
  snap/hooks/install
  snap/local/runtime-helpers/bin/sys-mgmt-agent-snap-executor.sh
  snap/snapcraft.yaml
Labels: edinburgh, snap, system-management

#1255 Fixed NewPutCommand URL and Body bugs
  internal/core/command/device.go
  internal/core/command/get.go
  internal/core/command/get_test.go
  internal/core/command/put.go
  internal/core/command/put_test.go
Labels: bug, edinburgh

#1277 Removed obsolete "prepare" target from Makefile
  Makefile
  cmd/config-seed/Dockerfile
  snap/snapcraft.yaml
Labels: edinburgh, enhancement

#1284 [Interlock core-contracts] Integrate model validation, fix tests
  cmd/config-seed/main.go
  cmd/core-command/main.go
  cmd/core-data/main.go
  cmd/core-metadata/main.go
  cmd/export-client/main.go
  cmd/export-distro/main.go
  cmd/support-logging/main.go
  cmd/support-notifications/main.go
  cmd/support-scheduler/main.go
  cmd/sys-mgmt-agent/main.go
  go.mod
  internal/core/command/device.go
  internal/core/command/get_test.go
  internal/core/data/device.go
  internal/core/data/valuedescriptor_test.go
  internal/core/metadata/rest_device.go
  internal/core/metadata/rest_deviceprofile.go
  internal/core/metadata/rest_devicereport.go
  internal/core/metadata/rest_deviceservice.go
  internal/core/metadata/rest_provisionwatcher.go
  internal/export/client/server_test.go
  internal/export/distro/client.go
  internal/export/distro/client_test.go
  internal/export/distro/format_test.go
  internal/export/distro/registrations_test.go
  internal/export/distro/server_test.go
  internal/export/registration_test.go
  internal/pkg/db/mongo/models/command.go
  internal/pkg/db/mongo/models/deviceservice.go
  internal/pkg/db/mongo/models/interval.go
  internal/pkg/db/mongo/models/service.go
  internal/pkg/db/redis/device_service.go
  internal/pkg/db/test/db_metadata.go
  internal/support/logging/criteria_test.go
  internal/support/logging/persistence_test.go
  internal/support/logging/server_test.go
  internal/support/logging/types.go
  internal/support/logging/types_test.go
  internal/support/scheduler/interval_test.go
  internal/support/scheduler/loader.go
Labels: core-services, edinburgh, enhancement, export-services, support-services

#1293 Bug Fix -- Reading Value Mis-Assigned During Unmarshal
  go.mod
Labels: bug, edinburgh
