Repository edgexfoundry/edgex-go, pull requests merged in 2019-12, with the labels that each got.

#2032 Refactor SecretStoreClient to simplfy request/response handling
  internal/security/secretstoreclient/common.go
  internal/security/secretstoreclient/common_test.go
  internal/security/secretstoreclient/vault.go
  internal/security/secretstoreclient/vault_test.go
Labels: enhancement, geneva, security-services

#2197 Refactor Bootstrap context.Context usage to be idomatic
  internal/core/command/init.go
  internal/core/data/init.go
  internal/core/metadata/init.go
  internal/export/client/init.go
  internal/export/distro/init.go
  internal/pkg/bootstrap/bootstrap.go
  internal/pkg/bootstrap/configuration/registry.go
  internal/pkg/bootstrap/handlers/database/database.go
  internal/pkg/bootstrap/handlers/httpserver/httpserver.go
  internal/pkg/bootstrap/handlers/message/message.go
  internal/pkg/bootstrap/handlers/secret/secret.go
  internal/pkg/bootstrap/interfaces/handler.go
  internal/pkg/telemetry/telemetry.go
  internal/security/proxy/init.go
  internal/security/secrets/init.go
  internal/security/secretstore/init.go
  internal/support/logging/init.go
  internal/support/scheduler/init.go
  internal/system/agent/init.go
Labels: geneva

#2193 master: Fix event deleting func with redis DB.
  internal/pkg/db/redis/queries.go
Labels: bug, geneva

#1818 Launch token provider from security-secretstore-setup.
  cmd/security-secretstore-setup/res/configuration.toml
  cmd/security-secretstore-setup/res/docker/configuration.toml
  internal/security/secretstore/init.go
  internal/security/secretstore/tokenprovider.go
  internal/security/secretstore/tokenprovider_test.go
  internal/security/secretstoreclient/types.go
Labels: enhancement, geneva, security-services

#2185 Remove chEvent global variable from core-data
  internal/core/data/container/events.go
  internal/core/data/device_test.go
  internal/core/data/domain_events.go
  internal/core/data/event.go
  internal/core/data/event_test.go
  internal/core/data/init.go
  internal/core/data/router.go
Labels: core-services, enhancement, geneva

#2207 Remove Unnecessary DIC definition in service's main.go
  cmd/core-command/main.go
  cmd/security-file-token-provider/main.go
  cmd/security-proxy-setup/main.go
  cmd/security-secrets-setup/main.go
  cmd/security-secretstore-setup/main.go
  cmd/support-notifications/main.go
  cmd/support-scheduler/main.go
  cmd/sys-mgmt-agent/main.go
Labels: geneva

#2208 Fix transmission limit for Redis
  internal/pkg/db/redis/notifications.go
Labels: bug, core-services, geneva

#2204 support-logging: refactor to remove dbClient global variable
  internal/support/logging/container/logger.go
  internal/support/logging/init.go
  internal/support/logging/router.go
  internal/support/logging/router_test.go
Labels: geneva

#2214 Fix bug #2213: invalid init flag for vault-worker
  cmd/security-secretstore-setup/entrypoint.sh
Labels: bug, geneva, security-services

#2205 support-logging: refactor to remove Configuration global variable
  cmd/support-logging/main.go
  internal/support/logging/container/config.go
  internal/support/logging/init.go
  internal/support/logging/router.go
  internal/support/logging/router_test.go
Labels: geneva

#2209 Remove msgClient global variable for core-data
  internal/core/data/container/messaging.go
  internal/core/data/event.go
  internal/core/data/event_test.go
  internal/core/data/init.go
  internal/core/data/router.go
Labels: 1-low, core-services, enhancement, geneva

#2212 support-logging -- update variable/interface naming for consistency
  internal/support/logging/container/persistence.go
  internal/support/logging/init.go
  internal/support/logging/interfaces/persistence.go
  internal/support/logging/router.go
Labels: geneva

#2203 Add API calls to SecretStoreClient needed for future PRs
  internal/security/secretstoreclient/const.go
  internal/security/secretstoreclient/interface.go
  internal/security/secretstoreclient/messages.go
  internal/security/secretstoreclient/mocks/mock.go
  internal/security/secretstoreclient/mocks/mock_test.go
  internal/security/secretstoreclient/roottoken.go
  internal/security/secretstoreclient/roottoken_test.go
  internal/security/secretstoreclient/vault.go
  internal/security/secretstoreclient/vault_test.go
Labels: enhancement, f2f-geneva, geneva, security-services

#2210 Remove unused request parameter from controller functions
  internal/core/command/router.go
  internal/core/data/router.go
  internal/core/metadata/router.go
  internal/export/client/router.go
  internal/export/distro/router.go
  internal/support/logging/router.go
  internal/support/notifications/router.go
  internal/support/notifications/utils.go
  internal/support/scheduler/router.go
  internal/system/agent/router.go
Labels: geneva

#2217 Execute System Management Operations Asynchronously
  internal/system/agent/executor/operation.go
Labels: geneva, system-management

#2225 Add guard to security-secrets-setup against replacing active PKI
  cmd/security-secrets-setup/entrypoint.sh
Labels: bug, geneva, security-services

#2239 Endpoint.Monitor missing "for" loop
  internal/pkg/endpoint/endpoint.go
Labels: bug, core-services, geneva, system-management

#2240 Remove platform dependencies from TokenProvider unit tests.
  internal/security/secretstore/init.go
  internal/security/secretstore/tokenprovider.go
  internal/security/secretstore/tokenprovider_linux_test.go
  internal/security/secretstore/tokenprovider_test.go
Labels: geneva, security-services

#2202 Business logic for security-file-token-provider
  cmd/security-file-token-provider/README.md
  cmd/security-file-token-provider/res/token-config.json
  internal/security/fileprovider/defaults.go
  internal/security/fileprovider/defaults_test.go
  internal/security/fileprovider/mocks/mock.go
  internal/security/fileprovider/mocks/mock_test.go
  internal/security/fileprovider/provider.go
  internal/security/fileprovider/provider_test.go
  internal/security/fileprovider/res/edgex-privileged-token-creator.hcl
  internal/security/fileprovider/tokenconfig.go
  internal/security/fileprovider/tokenconfig_test.go
  internal/security/fileprovider/types.go
  internal/security/fileprovider/util.go
  internal/security/fileprovider/util_test.go
Labels: enhancement, f2f-geneva, geneva, security-services

#2221 PR: Explicitly enable Vault KV secrets engine
  cmd/security-secretstore-setup/testdata/docker-compose.yml
  internal/security/secretstore/certs_test.go
  internal/security/secretstore/init.go
  internal/security/secretstore/password_test.go
  internal/security/secretstore/requester.go
  internal/security/secretstoreclient/const.go
  internal/security/secretstoreclient/interface.go
  internal/security/secretstoreclient/messages.go
  internal/security/secretstoreclient/mocks/mock.go
  internal/security/secretstoreclient/mocks/mock_test.go
  internal/security/secretstoreclient/vault.go
  internal/security/secretstoreclient/vault_test.go
Labels: enhancement, geneva, security-services

#2247 Update Dependency Versions (go-mod-bootstrap, go-mod-core-contracts)
  go.mod
  internal/pkg/config/types.go
Labels: core-services, f2f-geneva, geneva, system-management

#2252 Corrected compose link in security-proxy-setup README
  cmd/security-proxy-setup/README.md
Labels: 1-low, documentation, geneva, security-services
