Repository edgexfoundry/edgex-go, pull requests merged in 2019-03, with the labels that each got.

#1136 Removed Device-Addressable relationship
  api/raml/core-metadata.raml
  go.mod
  internal/core/data/device_test.go
  internal/core/metadata/addressable.go
  internal/core/metadata/const.go
  internal/core/metadata/interfaces/db.go
  internal/core/metadata/rest_addressable.go
  internal/core/metadata/rest_device.go
  internal/core/metadata/rest_deviceservice.go
  internal/core/metadata/router.go
  internal/pkg/db/mongo/metadata.go
  internal/pkg/db/mongo/models/device.go
  internal/pkg/db/test/db_metadata.go
Labels: edinburgh, enhancement

#1154 cleanup snapcraft.yaml, remove glide part from snap
  snap/snapcraft.yaml
Labels: edinburgh, snap

#1157 Revised README for Go 1.11.x
  README.md
Labels: documentation

#1155 Removal of Schedule and ScheduleEvent
  api/raml/core-metadata.raml
  api/raml/support-scheduler.raml
  go.mod
  internal/core/metadata/const.go
  internal/core/metadata/interfaces/db.go
  internal/core/metadata/interfaces/mocks/DBClient.go
  internal/core/metadata/rest_devicereport.go
  internal/core/metadata/rest_scheduleevent.go
  internal/core/metadata/router.go
  internal/pkg/config/types.go
  internal/pkg/correlation/models/event.go
  internal/pkg/db/db.go
  internal/pkg/db/mongo/metadata.go
  internal/pkg/db/mongo/models/devicereport.go
  internal/pkg/db/mongo/models/event.go
  internal/pkg/db/mongo/schedule_event.go
  internal/pkg/db/test/db_data.go
  internal/pkg/db/test/db_metadata.go
  internal/support/scheduler/schedulercontext_test.go
Labels: edinburgh, enhancement

#1150 mongo-worker-wrapper.sh: stop after 10 tries
  snap/local/runtime-helpers/bin/mongo-worker-wrapper.sh
Labels: edinburgh, snap

#1172 Persist Device With New ProtocolProperties Type
  go.mod
  internal/core/data/device_test.go
  internal/pkg/db/mongo/models/device.go
  internal/pkg/db/test/db_metadata.go
Labels: edinburgh, enhancement

#1152 build cassandra from source in snap for delhi
  snap/snapcraft.yaml
Labels: delhi, snap

#1151 build cassandra from source
  snap/snapcraft.yaml
Labels: edinburgh, snap

#1199 Revised Configuration documentation
  docs/configuration/Ch-Configuration.rst
Labels: documentation, edinburgh

#1165 Add support-rulesengine back to the snap
  snap/hooks/configure
  snap/hooks/install
  snap/hooks/remove
  snap/local/runtime-helpers/bin/support-rulesengine-wrapper.sh
  snap/snapcraft.yaml
Labels: edinburgh, snap, support-services
