Repository edgexfoundry/edgex-go, pull requests merged in 2019-05, with the labels that each got.

#1322 Update Transmission Status Enum in Notifications RAML
  api/raml/support-notifications.raml
  go.mod
Labels: documentation

#1327 Specify epoch 0 for Delhi, add post-refresh script to fix config file paths
  snap/hooks/install
  snap/hooks/post-refresh
  snap/hooks/pre-refresh
  snap/snapcraft.yaml
Labels: delhi dot - 0.7.1, snap

#1331 Fix Export-Distro Ignoring ^C
  cmd/export-distro/main.go
  internal/export/distro/init.go
  internal/export/distro/registrations.go
Labels: bug, export-services

#1334 Return New Notification ID Instead of Slug
  api/raml/support-notifications.raml
  internal/support/notifications/rest_notification.go
Labels: edinburgh, enhancement, support-services

#1340 JSON Event ID Lost When Published to Bus
  internal/core/data/event.go
  internal/core/data/io.go
Labels: bug, core-services, edinburgh

#1336 Transmission resend entries created with 0 CreateDate
  internal/pkg/db/mongo/notifications.go
  internal/pkg/db/redis/notifications.go
  internal/support/notifications/interfaces/db.go
  internal/support/notifications/sending_service.go
Labels: bug, edinburgh, support-services

#1330 many: rename ReadMaxLimit to MaxResponseObjectLength, set default to 50k
  api/raml/system-agent.raml
  cmd/core-command/res/configuration.toml
  cmd/core-command/res/docker/configuration.toml
  cmd/core-data/res/configuration.toml
  cmd/core-data/res/docker/configuration.toml
  cmd/core-metadata/res/configuration.toml
  cmd/core-metadata/res/docker/configuration.toml
  cmd/export-client/res/configuration.toml
  cmd/export-client/res/docker/configuration.toml
  cmd/export-distro/res/configuration.toml
  cmd/export-distro/res/docker/configuration.toml
  cmd/support-logging/res/configuration.toml
  cmd/support-logging/res/docker/configuration.toml
  cmd/support-notifications/res/configuration.toml
  cmd/support-notifications/res/docker/configuration.toml
  cmd/support-scheduler/res/configuration.toml
  cmd/support-scheduler/res/docker/configuration.toml
  cmd/sys-mgmt-agent/res/configuration.toml
  cmd/sys-mgmt-agent/res/docker/configuration.toml
  docs/examples/EdgeX_ExampleMQTT_configuration.toml
  docs/examples/EdgeX_ExampleModbus_configuration.toml
  docs/getting-started/configuration.toml
  docs/support/logging/Ch-Logging.rst
  docs/support/notifications/Ch-AlertsNotifications.rst
  docs/system-management/agent/Ch_SysMgmtAgent.rst
  internal/core/data/device.go
  internal/core/data/reading_test.go
  internal/core/data/router.go
  internal/core/metadata/addressable.go
  internal/core/metadata/addressable_test.go
  internal/core/metadata/rest_command.go
  internal/core/metadata/rest_device.go
  internal/core/metadata/rest_deviceprofile.go
  internal/core/metadata/rest_devicereport.go
  internal/core/metadata/rest_deviceservice.go
  internal/core/metadata/rest_provisionwatcher.go
  internal/pkg/config/types.go
  internal/pkg/db/mongo/notifications.go
  internal/support/logging/server.go
  internal/support/logging/server_test.go
  internal/support/notifications/rest_notification.go
  internal/support/scheduler/router.go
  internal/system/agent/services_test.go
Labels: core-services, documentation, edinburgh, export-services, support-services

#1351 Updated Docs for Go Support-Logging and Client
  docs/support/logging/Ch-Logging.rst
  docs/support/logging/EdgeX_SupportingServicesLoggingArchitecture.png
  docs/support/logging/EdgeX_SupportingServicesLoggingClientLibrary.png
  docs/support/logging/EdgeX_SupportingServicesLoggingDataModel.png
  docs/support/logging/EdgeX_SupportingServicesLoggingJavaLibrary1.png
  docs/support/logging/EdgeX_SupportingServicesLoggingJavaLibrary2.png
  docs/support/logging/EdgeX_SupportingServicesLoggingJavaLibrary3.png
  docs/support/logging/EdgeX_SupportingServicesLoggingRequest.png
  docs/support/logging/EdgeX_SupportingServicesQueryHistoricalLogging.png
  docs/support/logging/EdgeX_SupportingServicesRemoveHistoricalLogging.png
Labels: documentation, edinburgh, support-services

#1354 cmd/sys-mgmt-executor/main.go: use json output, misc cleanups
  cmd/sys-mgmt-executor/main.go
Labels: edinburgh, system-management

#1356 Adding CBOR support to export-distro
  go.mod
  internal/core/data/event.go
  internal/export/distro/httpsender.go
  internal/export/distro/httpsender_test.go
  internal/export/distro/init.go
  internal/export/distro/messaging.go
  internal/export/distro/mqtt.go
  internal/export/distro/registrations.go
  internal/export/distro/registrations_test.go
  internal/export/distro/types.go
  internal/export/distro/xmpp.go
  internal/export/distro/zeromq.go
Labels: edinburgh, enhancement, export-services

#1369 Export-Distro Send Correct HTTP Content-Type for CBOR
  go.mod
  internal/export/distro/httpsender.go
  internal/export/distro/httpsender_test.go
  internal/export/distro/registrations.go
Labels: bug, edinburgh, export-services

#1373 Updating config-seed help message
  internal/pkg/usage/usage.go
Labels: edinburgh, enhancement

#1383 Update edgex modules to v0.1.0 pre-edinburgh
  go.mod
Labels: core-services, edinburgh, enhancement, export-services, support-services

#1386 Bump internal version files to 1.1.0
  VERSION
  version.go
Labels: enhancement, fuji

#1393 Set snap release metadata to fuji
  snap/hooks/pre-refresh
  snap/snapcraft.yaml
Labels: fuji, snap
