Repository edgexfoundry/edgex-go, pull requests merged in 2019-01, with the labels that each got.

#972 Issue 956 - core-metadata Command: update query methods
  internal/core/metadata/interfaces/db.go
  internal/core/metadata/interfaces/mocks/DBClient.go
  internal/core/metadata/rest_command.go
  internal/core/metadata/rest_deviceprofile.go
  internal/pkg/db/mongo/metadata.go
  internal/pkg/db/test/db_metadata.go
Labels: core-services, edinburgh, enhancement

#979 Removed receiver pointers from MongoClient
  internal/core/data/init.go
  internal/core/data/interfaces/db.go
  internal/core/metadata/init.go
  internal/core/metadata/interfaces/db.go
  internal/export/client/init.go
  internal/export/db.go
  internal/pkg/db/mongo/client.go
  internal/pkg/db/mongo/client_test.go
  internal/pkg/db/mongo/data.go
  internal/pkg/db/mongo/export.go
  internal/pkg/db/mongo/notifications.go
  internal/pkg/db/test/db_data.go
  internal/pkg/db/test/db_export.go
  internal/pkg/db/test/db_metadata.go
  internal/support/notifications/init.go
  internal/support/notifications/interfaces/db.go
Labels: core-services, edinburgh, enhancement, export-services, support-services

#1031 Events should not be exported to disabled clients
  internal/export/distro/registrations.go
Labels: bug, edinburgh, export-services

#1035 Added go.mod to config-seed properties folder
  cmd/config-seed/res/properties/go.mod
Labels: edinburgh, enhancement
