Repository edgexfoundry/edgex-go, pull requests merged in 2020-01, with the labels that each got.

#2257 Explicit Close() when security-file-token provider writes tokens
  internal/security/fileprovider/provider.go
Labels: geneva, security-services, tech-debt

#2264 Move LoadRestRoutes into service-specific bootstrap handler
  cmd/core-command/main.go
  cmd/core-data/main.go
  cmd/core-metadata/main.go
  cmd/security-file-token-provider/main.go
  cmd/security-proxy-setup/main.go
  cmd/security-secrets-setup/main.go
  cmd/security-secretstore-setup/main.go
  cmd/support-logging/main.go
  cmd/support-notifications/main.go
  cmd/support-scheduler/main.go
  cmd/sys-mgmt-agent/main.go
  go.mod
  internal/core/command/init.go
  internal/core/command/router.go
  internal/core/data/init.go
  internal/core/data/router.go
  internal/core/metadata/init.go
  internal/core/metadata/router.go
  internal/security/fileprovider/init.go
  internal/security/proxy/init.go
  internal/security/secrets/init.go
  internal/security/secretstore/init.go
  internal/support/logging/init.go
  internal/support/logging/router.go
  internal/support/notifications/init.go
  internal/support/notifications/router.go
  internal/support/scheduler/init.go
  internal/support/scheduler/router.go
  internal/system/agent/init.go
  internal/system/agent/router.go
Labels: core-services, geneva, system-management

#2253 Enable file-token-provider in docker configuration.
  cmd/security-file-token-provider/res/configuration.toml
  cmd/security-file-token-provider/res/token-config.json
  cmd/security-secretstore-setup/Dockerfile
  cmd/security-secretstore-setup/res-file-token-provider/docker/configuration.toml
  cmd/security-secretstore-setup/res/docker/configuration.toml
  internal/security/fileprovider/defaults.go
  internal/security/fileprovider/defaults_test.go
  internal/security/secretstore/tokenprovider.go
Labels: enhancement, f2f-geneva, geneva, security-services

#2274 Enable edgex-proxy to use per-service token instead of root token.
  cmd/security-proxy-setup/res/docker/configuration.toml
  internal/security/proxy/certs.go
Labels: enhancement, geneva, security-services

#2269 Deprivilege token provider and revoke old tokens on startup.
  cmd/security-secretstore-setup/entrypoint.sh
  cmd/security-secretstore-setup/res-file-token-provider/docker/configuration.toml
  cmd/security-secretstore-setup/res/docker/configuration.toml
  internal/security/fileprovider/init.go
  internal/security/fileprovider/main.go
  internal/security/secretstore/certs.go
  internal/security/secretstore/certs_test.go
  internal/security/secretstore/constants.go
  internal/security/secretstore/init.go
  internal/security/secretstore/password.go
  internal/security/secretstore/password_test.go
  internal/security/secretstore/tokenmaintenance.go
  internal/security/secretstore/tokenmaintenance_test.go
  internal/security/secretstoreclient/types.go
Labels: enhancement, f2f-geneva, geneva, security-services

#2302 Update to latest (v.0.0.10) go-mod-bootstrap
  go.mod
  internal/core/command/main.go
  internal/core/data/main.go
  internal/core/metadata/main.go
  internal/support/logging/main.go
  internal/support/notifications/main.go
  internal/support/scheduler/main.go
  internal/system/agent/main.go
Labels: geneva

#2303 Update go-mod-secrets and go-mod-bootstrap
  go.mod
  internal/security/fileprovider/init.go
  internal/security/fileprovider/provider.go
  internal/security/fileprovider/provider_test.go
  internal/security/fileprovider/tokenconfig.go
  internal/security/fileprovider/tokenconfig_test.go
  internal/security/proxy/certs.go
  internal/security/secretstore/init.go
  internal/security/secretstoreclient/requestor.go
  internal/security/secretstoreclient/roottoken.go
  internal/security/secretstoreclient/roottoken_test.go
  internal/security/secretstoreclient/vault.go
  internal/security/secretstoreclient/vault_test.go
Labels: geneva

#2309 Added OpenAPI docs for V2 API Specification
  api/openapi/v2/README.md
  api/openapi/v2/core-command.yaml
  api/openapi/v2/core-data.yaml
  api/openapi/v2/core-metadata.yaml
  api/openapi/v2/support-logging.yaml
  api/openapi/v2/support-notifications.yaml
  api/openapi/v2/support-scheduler.yaml
Labels: core-services, enhancement, geneva

#2282 Implement Vault root token revokation
  cmd/security-secretstore-setup/res/docker/configuration.toml
  internal/security/secretstore/init.go
  internal/security/secretstore/init_test.go
  internal/security/secretstoreclient/interface.go
  internal/security/secretstoreclient/messages.go
  internal/security/secretstoreclient/mocks/mock.go
  internal/security/secretstoreclient/mocks/mock_test.go
  internal/security/secretstoreclient/roottoken.go
  internal/security/secretstoreclient/roottoken_test.go
  internal/security/secretstoreclient/vault.go
  internal/security/secretstoreclient/vault_test.go
Labels: enhancement, f2f-geneva, geneva, security-services

#2319 Turn off root token revokation temporarily until other services updated.
  cmd/security-secretstore-setup/res/docker/configuration.toml
Labels: 3-high, bug, geneva, security-services

#2324 Update OpenAPI Docs for V2 API -- Generic Errors
  api/openapi/v2/core-command.yaml
  api/openapi/v2/core-data.yaml
  api/openapi/v2/core-metadata.yaml
  api/openapi/v2/support-logging.yaml
  api/openapi/v2/support-notifications.yaml
  api/openapi/v2/support-scheduler.yaml
Labels: core-services, f2f-geneva, support-services

#2325 Relocate proxy TLS certificate into proper namespace path of secret store
  cmd/security-file-token-provider/res/token-config.json
  cmd/security-proxy-setup/res/configuration.toml
  cmd/security-proxy-setup/res/docker/configuration.toml
  cmd/security-secretstore-setup/res/configuration.toml
  cmd/security-secretstore-setup/res/docker/configuration.toml
  internal/security/proxy/testdata/configuration.toml
Labels: enhancement, geneva, security-services

#2320 Change to non-root Vault tokens in docker configuration.
  cmd/core-command/res/docker/configuration.toml
  cmd/core-data/res/docker/configuration.toml
  cmd/core-metadata/res/docker/configuration.toml
  cmd/security-file-token-provider/res/token-config.json
  cmd/security-secretstore-setup/res/docker/configuration.toml
  cmd/support-logging/res/docker/configuration.toml
  cmd/support-notifications/res/docker/configuration.toml
  cmd/support-scheduler/res/docker/configuration.toml
Labels: 3-high, enhancement, geneva, security-services

#2322 Update OpenAPI Docs for V2 API -- Ping, Metrics, Version, Configuration
  api/openapi/v2/core-command.yaml
  api/openapi/v2/core-data.yaml
  api/openapi/v2/core-metadata.yaml
  api/openapi/v2/support-logging.yaml
  api/openapi/v2/support-notifications.yaml
  api/openapi/v2/support-scheduler.yaml
Labels: core-services, f2f-geneva, support-services
