Repository edgexfoundry/edgex-go, pull requests merged in 2020-10, with the labels that each got.

#2664 fix (snap): mv system-usernames out of passthrough
  snap/snapcraft.yaml
Labels: snap

#2760 build: add supporting files for conventional commits
  .github/Contributing.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/semantic.yml
Labels: ci, hanoi

#2574 feat: Implement encryption of vault master key
  go.mod
  internal/security/kdf/interface.go
  internal/security/kdf/methods.go
  internal/security/kdf/methods_test.go
  internal/security/kdf/mocks/mock.go
  internal/security/kdf/mocks/mock_test.go
  internal/security/pipedhexreader/interface.go
  internal/security/pipedhexreader/mocks/mock.go
  internal/security/pipedhexreader/mocks/mock_test.go
  internal/security/pipedhexreader/pipedhexreader.go
  internal/security/pipedhexreader/pipedhexreader_linux_test.go
  internal/security/pipedhexreader/testdata/echowithnewline
  internal/security/pipedhexreader/testdata/echowithoutnewline
  internal/security/secretstore/init.go
  internal/security/secretstore/vmkencryption.go
  internal/security/secretstore/vmkencryption_test.go
  internal/security/secretstoreclient/messages.go
Labels: security-services
