Repository edgexfoundry/edgex-go, pull requests merged in 2020-08, with the labels that each got.

#2627 doc: Modify V2 Swagger for Core-MedataData DTO and Model
  openapi/v2/core-data.yaml
  openapi/v2/core-metadata.yaml
Labels: hold

#2625 snapcraft.yaml, many: use setpriv instead of drop
  snap/hooks/install
  snap/local/parts/drop-user/Makefile
  snap/local/parts/drop-user/drop.c
  snap/local/runtime-helpers/bin/drop-snap-daemon.sh
  snap/snapcraft.yaml
Labels: snap

#2673 Adding vault config default env var and allowing setting VAULT_LOCAL_…
  cmd/security-secrets-setup/start_vault.sh
Labels: security-services

#2674 Enable inline snap builds
  Jenkinsfile
Labels: 2-medium, hanoi
