Repository edgexfoundry/edgex-go, pull requests merged in 2020-05, with the labels that each got.

#2533 Update V1 Metadata Device Swagger Schema
  api/openapi/v1/core-metadata.yaml
Labels: 1-low, core-services, documentation, geneva

#2541 Add missing GET Notification API
  api/openapi/v1/support-notifications.yaml
Labels: 1-low, core-services, documentation, geneva

#2551 Fix Reading Redis Binary Payload Persistence
  go.mod
  internal/core/data/interfaces/db.go
  internal/pkg/db/interfaces/db.go
  internal/pkg/db/redis/client.go
  internal/pkg/db/redis/client_integration_test.go
  internal/pkg/db/redis/data.go
  internal/pkg/db/test/db_data.go
  internal/pkg/db/test/db_metadata.go
  internal/pkg/db/test/db_notifications.go
Labels: 3-high, bug, core-services, geneva

#2548 snap: update security-secrets-setup config
  snap/hooks/install
  snap/local/runtime-helpers/config/security-secret-store/vault-config.hcl.in
  snap/snapcraft.yaml
Labels: bug

#2559 Update VERSION file to 1.2.0
  VERSION
Labels: geneva

#2565 fix: Missing fmt.Sprintf() in debug logging statement
  internal/security/secrets/directory/directory.go
Labels: security-services

#2552 Fix bug for removal-of-scheduler-interval causing the scheduler to crash.
  internal/support/scheduler/operators/interval/delete.go
  internal/support/scheduler/operators/interval/delete_test.go
  internal/support/scheduler/rest_interval.go
  internal/support/scheduler/rest_interval_test.go
  internal/support/scheduler/router.go
Labels: 1-low, bug, hanoi, support-services
