Repository edgexfoundry/edgex-go, pull requests merged in 2020-12, with the labels that each got.

#2808 feat(security): Replace security-proxy-setup for adding users
  Makefile
  cmd/secrets-config/Attribution.txt
  cmd/secrets-config/README.md
  cmd/secrets-config/main.go
  cmd/security-proxy-setup/Dockerfile
  cmd/security-proxy-setup/res/configuration.toml
  internal/security/config/bootstraphandler.go
  internal/security/config/command/flags_common.go
  internal/security/config/command/help/command.go
  internal/security/config/command/help/command_test.go
  internal/security/config/command/proxy/adduser/command.go
  internal/security/config/command/proxy/adduser/command_test.go
  internal/security/config/command/proxy/adduser/testdata/rsa.key
  internal/security/config/command/proxy/adduser/testdata/rsa.pub
  internal/security/config/command/proxy/command.go
  internal/security/config/command/proxy/deluser/command.go
  internal/security/config/command/proxy/deluser/command_test.go
  internal/security/config/command/proxy/jwt/command.go
  internal/security/config/command/proxy/jwt/command_test.go
  internal/security/config/command/proxy/jwt/testdata/ecdsa.key
  internal/security/config/command/proxy/jwt/testdata/ecdsa.pub
  internal/security/config/command/proxy/jwt/testdata/rsa.key
  internal/security/config/command/proxy/jwt/testdata/rsa.pub
  internal/security/config/command/proxy/oauth2/command.go
  internal/security/config/command/proxy/oauth2/command_test.go
  internal/security/config/command/proxy/tls/command.go
  internal/security/config/command/proxy/tls/command_test.go
  internal/security/config/interfaces/command.go
  internal/security/config/interfaces/constants.go
  internal/security/config/main.go
  snap/local/patches/0001-optimize-build-for-pipeline-CI-check.patch
  snap/snapcraft.yaml
Labels: enhancement, security-services, security_audit

#2923 fix: Revert log level change for commit ff93af4
  cmd/secrets-config/main.go
  cmd/security-proxy-setup/res/configuration.toml
Labels: bug

#2890 feat(security): Remove Vault TLS
  cmd/core-command/res/configuration.toml
  cmd/core-data/res/configuration.toml
  cmd/core-metadata/res/configuration.toml
  cmd/security-bootstrap-redis/res/configuration.toml
  cmd/security-proxy-setup/res/configuration.toml
  cmd/security-secrets-setup/res/local-tls.hcl
  cmd/security-secrets-setup/start_vault.sh
  cmd/security-secretstore-setup/res-file-token-provider/configuration.toml
  cmd/security-secretstore-setup/res/configuration.toml
  cmd/support-notifications/res/configuration.toml
  cmd/support-scheduler/res/configuration.toml
  internal/security/fileprovider/init.go
  internal/security/proxy/config/config.go
  internal/security/proxy/init.go
  internal/security/proxy/service.go
  internal/security/proxy/service_test.go
  internal/security/proxy/testdata/configuration.toml
  internal/security/secretstore/certs_test.go
  internal/security/secretstore/init.go
  internal/security/secretstore/password_test.go
  internal/security/secretstoreclient/types.go
  internal/security/secretstoreclient/types_test.go
  openapi/v2/core-data.yaml
  openapi/v2/core-metadata.yaml
  snap/local/runtime-helpers/config/security-secret-store/vault-config.hcl.in
  snap/snapcraft.yaml
Labels: enhancement, ireland, security-services

#2930 feat(security): implement secrets-config proxy tls
  cmd/secrets-config/README.md
  internal/security/config/command/proxy/adduser/command.go
  internal/security/config/command/proxy/common/common.go
  internal/security/config/command/proxy/tls/command.go
  internal/security/config/command/proxy/tls/command_test.go
  internal/security/config/command/proxy/tls/testdata/testCert.pem
  internal/security/config/command/proxy/tls/testdata/testCert.prkey
Labels: 3-high, enhancement, ireland, request for comments, security-services

#2886 feat(security): Remove Vault dependency on Consul by using file backend
  cmd/security-secrets-setup/start_vault.sh
Labels: 3-high, enhancement, ireland, security-services

#2940 feat: create optional kong certificate config options
  cmd/security-secretstore-setup/res-file-token-provider/configuration.toml
  cmd/security-secretstore-setup/res/configuration.toml
  internal/security/secretstore/init.go
Labels: enhancement, ireland, security-services

#2939 build(snap): Snap remove vault depend consul
  snap/local/patches/0001-optimize-build-for-pipeline-CI-check.patch
  snap/local/runtime-helpers/config/security-secret-store/vault-config.hcl.in
  snap/snapcraft.yaml
Labels: ireland, security-services, snap
