Repository edgexfoundry/edgex-go, pull requests merged in 2020-02, with the labels that each got.

#2311 #2310 Mongo core reading's created is not work very well (master)
  internal/pkg/db/mongo/data.go
Labels: bug, geneva

#2332 Create a unit test for Update Device Service LastReported by ID.
  internal/core/metadata/rest_addressable_test.go
  internal/core/metadata/rest_deviceprofile_test.go
  internal/core/metadata/rest_deviceservice_test.go
Labels: geneva

#2327 Github PR Template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: geneva

#2343 Remove InMemory Database Client Implementation
  internal/core/command/main.go
  internal/core/data/main.go
  internal/core/metadata/main.go
  internal/pkg/bootstrap/handlers/database/database.go
  internal/pkg/db/memory/addressables.go
  internal/pkg/db/memory/commands.go
  internal/pkg/db/memory/deviceprofiles.go
  internal/pkg/db/memory/devicereports.go
  internal/pkg/db/memory/devices.go
  internal/pkg/db/memory/deviceservices.go
  internal/pkg/db/memory/events.go
  internal/pkg/db/memory/factory.go
  internal/pkg/db/memory/intervals.go
  internal/pkg/db/memory/notifications.go
  internal/pkg/db/memory/provisionwatchers.go
  internal/pkg/db/memory/readings.go
  internal/pkg/db/memory/scrub.go
  internal/pkg/db/memory/subscriptions.go
  internal/pkg/db/memory/transmissions.go
  internal/pkg/db/memory/valuedescriptors.go
  internal/support/notifications/main.go
  internal/support/scheduler/main.go
Labels: core-services, geneva

#2342 Update to latest go-mod-messaging
  go.mod
  internal/core/data/init.go
  internal/pkg/config/types.go
Labels: core-services, enhancement, geneva

#2351 Update go-mod-bootstrap to v0.0.18
  go.mod
  internal/core/command/main.go
  internal/core/data/main.go
  internal/core/metadata/main.go
  internal/security/fileprovider/main.go
  internal/security/proxy/main.go
  internal/security/secrets/main.go
  internal/security/secretstore/main.go
  internal/support/logging/main.go
  internal/support/notifications/main.go
  internal/support/scheduler/main.go
  internal/system/agent/main.go
Labels: 1-low, core-services, geneva, support-services, system-management

#2357 snap: replace gosu with local drop-user cmd
  snap/hooks/install
  snap/local/parts/drop-user/Makefile
  snap/local/parts/drop-user/drop.c
  snap/local/runtime-helpers/bin/gosu-snap_daemon.sh
  snap/snapcraft.yaml
Labels: fuji, snap

#2369 snapcraft.yaml: fix sys-mgmt-agent executor
  snap/snapcraft.yaml
Labels: fuji, snap

#2305 edgex-go pipeline for Geneva release
  Jenkinsfile
Labels: enhancement, geneva

#2349 Fix Redis Readings By Device & Value Descriptor
  internal/pkg/db/redis/data.go
  internal/pkg/db/redis/queries.go
Labels: bug, core-services, geneva

#2377 REPO_ROOT needs to be set to the WORKSPACE location
  Jenkinsfile
Labels: 2-medium, geneva

#2381 Provide mongo credentials in all configuration.toml files
  cmd/core-command/res/configuration.toml
  cmd/core-data/res/configuration.toml
  cmd/core-metadata/res/configuration.toml
  cmd/support-logging/res/configuration.toml
  cmd/support-notifications/res/configuration.toml
  cmd/support-scheduler/res/configuration.toml
Labels: 3-high, core-services, geneva, security-services, support-services

#2400 getHealth() always returns a nil error
  internal/system/agent/router.go
  internal/system/agent/services.go
Labels: 1-low, enhancement, geneva, system-management

#2407 Update go.mod to use go-mod-bootstrap v0.0.21 to resolve token-lookup issue
  go.mod
Labels: 3-high, bug

#2408 getObjectsByValueSorted in Redis: removed indeterminism and fixed sorting issue
  internal/pkg/db/redis/queries.go
Labels: bug

#2398 fix[security-services]: Address race condition for mongodb initialization
  cmd/security-secretstore-setup/entrypoint.sh
Labels: bug, security-services
