Repository edgexfoundry/edgex-go, pull requests merged in 2020-03, with the labels that each got.

#2401 Look at Driving "Default Services List" via Configuration
  cmd/core-command/res/configuration.toml
  cmd/core-command/res/docker/configuration.toml
  cmd/core-data/res/configuration.toml
  cmd/core-data/res/docker/configuration.toml
  cmd/core-metadata/res/configuration.toml
  cmd/core-metadata/res/docker/configuration.toml
  cmd/security-proxy-setup/res/configuration.toml
  cmd/security-proxy-setup/res/docker/configuration.toml
  cmd/support-notifications/res/configuration.toml
  cmd/support-notifications/res/docker/configuration.toml
  cmd/support-scheduler/res/configuration.toml
  cmd/support-scheduler/res/docker/configuration.toml
  cmd/sys-mgmt-agent/res/configuration.toml
  cmd/sys-mgmt-agent/res/docker/configuration.toml
  internal/pkg/config/types.go
  internal/system/agent/clients/general.go
  internal/system/agent/clients/general_test.go
  internal/system/agent/container/general.go
  internal/system/agent/direct/metrics.go
  internal/system/agent/factory/factory.go
  internal/system/agent/getconfig/executor.go
  internal/system/agent/init.go
  internal/system/agent/router.go
Labels: 1-low, core-services, enhancement, geneva, system-management

#2427 Revert "Look at Driving "Default Services List" via Configuration (#2401)"
  cmd/core-command/res/configuration.toml
  cmd/core-command/res/docker/configuration.toml
  cmd/core-data/res/configuration.toml
  cmd/core-data/res/docker/configuration.toml
  cmd/core-metadata/res/configuration.toml
  cmd/core-metadata/res/docker/configuration.toml
  cmd/security-proxy-setup/res/configuration.toml
  cmd/security-proxy-setup/res/docker/configuration.toml
  cmd/support-notifications/res/configuration.toml
  cmd/support-notifications/res/docker/configuration.toml
  cmd/support-scheduler/res/configuration.toml
  cmd/support-scheduler/res/docker/configuration.toml
  cmd/sys-mgmt-agent/res/configuration.toml
  cmd/sys-mgmt-agent/res/docker/configuration.toml
  internal/pkg/config/types.go
  internal/system/agent/clients/general.go
  internal/system/agent/clients/general_test.go
  internal/system/agent/container/general.go
  internal/system/agent/direct/metrics.go
  internal/system/agent/factory/factory.go
  internal/system/agent/getconfig/executor.go
  internal/system/agent/init.go
  internal/system/agent/router.go
Labels: 1-low, core-services, enhancement, geneva, system-management

#2428 Persist new properties on Readings
  go.mod
  internal/pkg/db/mongo/models/reading.go
Labels: 3-high, enhancement, geneva

#2447 Simplify Device Profile in v2 API specification
  api/openapi/v2/core-command.yaml
  api/openapi/v2/core-metadata.yaml
Labels: 3-high, device-services, geneva

#2438 Provision Watcher REST API Audit: Update Endpoint
  internal/core/metadata/errors/types.go
  internal/core/metadata/rest_provisionwatcher.go
  internal/pkg/errorconcept/provision_watcher.go
Labels: 3-high, core-services, geneva

#2440 Provision Watcher REST API Audit: Delete Endpoints
  internal/core/metadata/rest_provisionwatcher.go
Labels: 3-high, core-services, geneva

#2461 fix[core,security]: Update go-mod-bootstrap to fix race
  go.mod
Labels: core-services, security-services

#2459 Implementation for adding addtional Vault tokens from the environment variable
  internal/security/fileprovider/provider.go
  internal/security/fileprovider/provider_test.go
  internal/security/fileprovider/tokenconfig.go
  internal/security/fileprovider/tokenconfig_test.go
Labels: enhancement, geneva, security-services
