Repository edgexfoundry/edgex-go, pull requests merged in 2021-02, with the labels that each got.

#3121 feat(meta): Rename ProfileResource to DeviceCommand for V2 API
  go.mod
  internal/core/metadata/v2/controller/http/const_test.go
  internal/core/metadata/v2/controller/http/deviceprofile_test.go
  openapi/v2/core-metadata.yaml
Labels: hold

#3115 feat(security): Fix redis start issue from #2863
  .gitignore
  Makefile
  cmd/security-bootstrap-redis/README.md
  cmd/security-bootstrap-redis/main.go
  cmd/security-bootstrapper/Dockerfile
  cmd/security-bootstrapper/entrypoint-scripts/redis_wait_install.sh
  cmd/security-bootstrapper/res-bootstrap-redis/configuration.toml
  internal/security/bootstrapper/helper/helper.go
  internal/security/bootstrapper/helper/helper_test.go
  internal/security/bootstrapper/helper/redis_conf.go
  internal/security/bootstrapper/helper/redis_config_test.go
  internal/security/bootstrapper/main.go
  internal/security/bootstrapper/redis/Developer-notes.md
  internal/security/bootstrapper/redis/config/config.go
  internal/security/bootstrapper/redis/configure.go
  internal/security/bootstrapper/redis/container/config.go
  internal/security/bootstrapper/redis/handlers/handlers.go
  internal/security/redis/container/config.go
  internal/security/redis/handlers.go
  snap/hooks/install
  snap/local/patches/0001-optimize-build-for-pipeline-CI-check.patch
  snap/snapcraft.yaml
Labels: 2-medium, enhancement, ireland, security-services, snap

#3162 feat(security): Make separate redis ACL conf file and use hashed pwd in config
  internal/security/bootstrapper/helper/redis_conf.go
  internal/security/bootstrapper/helper/redis_config_test.go
  internal/security/bootstrapper/redis/Developer-notes.md
  internal/security/bootstrapper/redis/configure.go
  internal/security/bootstrapper/redis/handlers/handlers.go
Labels: 3-high, enhancement, ireland, security-services

#3164 fix(all): update attribution to include libs for consul 1.8.1
  Attribution.txt
  go.mod
Labels: 3-high, bug, ireland

#3179 feat(security): Enable Vault's Consul secrets engine
  internal/security/secretstore/constants.go
  internal/security/secretstore/init.go
  internal/security/secretstore/secretsengine/enabler.go
  internal/security/secretstore/secretsengine/enabler_test.go
Labels: 3-high, enhancement, ireland, security-services

#3192 feat(security): Create a Vault mgmt token for Consul Secrets API Operations
  cmd/security-secretstore-setup/res/configuration.toml
  internal/security/secretstore/config/config.go
  internal/security/secretstore/constants.go
  internal/security/secretstore/init.go
  internal/security/secretstore/secretsengine/enabler.go
  internal/security/secretstore/tokencreatable/tokencreatable.go
  internal/security/secretstore/tokenfilewriter/tokenfilewriter.go
  internal/security/secretstore/tokenfilewriter/tokenfilewriter_test.go
  internal/security/secretstore/tokenmaintenance.go
Labels: 3-high, enhancement, ireland, security-services
