Repository edgexfoundry/edgex-go, pull requests merged in 2021-05, with the labels that each got.

#3328 feat(security): Secure kong admin api
  cmd/security-bootstrapper/entrypoint-scripts/kong_wait_install.sh
  cmd/security-proxy-setup/res/configuration.toml
  cmd/security-secretstore-setup/Dockerfile
  cmd/security-secretstore-setup/res/configuration.toml
  cmd/security-secretstore-setup/res/kong-admin-config.template.yml
  internal/constants.go
  internal/security/bootstrapper/helper/helper.go
  internal/security/config/command/proxy/adduser/command.go
  internal/security/config/command/proxy/adduser/command_test.go
  internal/security/config/command/proxy/deluser/command.go
  internal/security/config/command/proxy/deluser/command_test.go
  internal/security/config/command/proxy/oauth2/command.go
  internal/security/config/command/proxy/oauth2/command_test.go
  internal/security/config/command/proxy/tls/command.go
  internal/security/config/command/proxy/tls/command_test.go
  internal/security/proxy/config/config.go
  internal/security/proxy/resource_test.go
  internal/security/proxy/service.go
  internal/security/proxy/service_test.go
  internal/security/proxy/testdata/test-jwt
  internal/security/secretstore/config/config.go
  internal/security/secretstore/init.go
  internal/security/secretstore/kongadminapi.go
  internal/security/secretstore/kongadminapi_test.go
Labels: 3-high, ireland, security-services

#3391 feat(security): Implement consul token header in API Gateway
  cmd/security-bootstrapper/entrypoint-scripts/consul_wait_install.sh
  cmd/security-proxy-setup/res/configuration.toml
  internal/security/config/command/proxy/adduser/command_test.go
  internal/security/config/command/proxy/oauth2/command.go
  internal/security/proxy/config/config.go
  internal/security/proxy/const.go
  internal/security/proxy/resource.go
  internal/security/proxy/service.go
  internal/security/proxy/serviceplugin.go
  internal/security/proxy/serviceplugin_test.go
  snap/snapcraft.yaml
Labels: enhancement, ireland, security-services

#3428 ci: update local docker image names in Makefile
  Makefile
Labels: ireland

#3410 build(snap): Enable secure Kong Admin APIs in snap build
  snap/hooks/install
  snap/local/runtime-helpers/bin/kong-daemon.sh
  snap/snapcraft.yaml
Labels: enhancement, ireland, snap

#3461 feat(security): Remove ENABLE_REGISTRY_ACL feature flag
  cmd/security-bootstrapper/entrypoint-scripts/consul_wait_install.sh
  internal/security/secretstore/constants.go
  internal/security/secretstore/init.go
  snap/local/runtime-helpers/bin/setup-consul-acl.sh
  snap/local/runtime-helpers/bin/start-consul.sh
  snap/snapcraft.yaml
Labels: ireland, security-services

#3509 fix(security): Remove the retry items and update secret path from SecretStore config toml
  cmd/core-command/res/configuration.toml
  cmd/core-data/res/configuration.toml
  cmd/core-metadata/res/configuration.toml
  cmd/security-bootstrapper/res-bootstrap-redis/configuration.toml
  cmd/security-proxy-setup/res/configuration.toml
  cmd/support-notifications/res/configuration.toml
  cmd/support-scheduler/res/configuration.toml
  cmd/sys-mgmt-agent/res/configuration.toml
  go.mod
  openapi/v2/core-data.yaml
  openapi/v2/core-metadata.yaml
  openapi/v2/system-agent.yaml
Labels: ireland, security-review, tech-debt
