Repository edgexfoundry/edgex-go, pull requests merged in 2021-01, with the labels that each got.

#2960 ci: standardize dockerfiles
  Dockerfile.build
  cmd/core-command/Dockerfile
  cmd/core-data/Dockerfile
  cmd/core-metadata/Dockerfile
  cmd/security-bootstrap-redis/Dockerfile
  cmd/security-proxy-setup/Dockerfile
  cmd/security-secretstore-setup/Dockerfile
  cmd/support-notifications/Dockerfile
  cmd/support-scheduler/Dockerfile
  cmd/sys-mgmt-agent/Dockerfile
Labels: ci, ireland

#3003 feat(security): secure containers run as non-root
  cmd/core-command/Dockerfile
  cmd/core-metadata/Dockerfile
  cmd/security-secretstore-setup/Dockerfile
  cmd/security-secretstore-setup/entrypoint.sh
  cmd/support-notifications/Dockerfile
  cmd/support-scheduler/Dockerfile
Labels: enhancement, ireland, security-services

#3004 feat(all): consolidate the attribution.txt for all services
  Attribution.txt
  bin/test-attribution-txt.sh
  cmd/core-command/Attribution.txt
  cmd/core-command/Dockerfile
  cmd/core-data/Attribution.txt
  cmd/core-data/Dockerfile
  cmd/core-metadata/Attribution.txt
  cmd/core-metadata/Dockerfile
  cmd/secrets-config/Attribution.txt
  cmd/security-bootstrap-redis/Attribution.txt
  cmd/security-bootstrap-redis/Dockerfile
  cmd/security-file-token-provider/Attribution.txt
  cmd/security-proxy-setup/Attribution.txt
  cmd/security-secretstore-setup/Attribution.txt
  cmd/support-notifications/Attribution.txt
  cmd/support-notifications/Dockerfile
  cmd/support-scheduler/Attribution.txt
  cmd/support-scheduler/Dockerfile
  cmd/sys-mgmt-executor/Attribution.txt
  snap/snapcraft.yaml
Labels: 1-low, core-services, ireland

#2924 feat!: Remove --useradd and --userdel support from proxy-setup
  internal/security/proxy/consumer.go
  internal/security/proxy/consumer_test.go
  internal/security/proxy/init.go
  internal/security/proxy/kongParameters.go
  internal/security/proxy/main.go
Labels: security-services

#3082 feat(security): add build code in Dockerfile for ARM64 of dockerize executable
  cmd/security-bootstrapper/Dockerfile
Labels: 3-high, bug, ci, ireland, security-services

#3091 feat(security): make the built fully statically linked for dockerize
  cmd/security-bootstrapper/Dockerfile
Labels: 3-high, ireland, security-services

#3061 feat(command): Implement Command GET /device/name/{name} V2 API
  go.mod
  internal/core/command/init.go
  internal/core/command/v2/application/command.go
  internal/core/command/v2/controller/http/command.go
  internal/core/command/v2/controller/http/command_test.go
  internal/core/command/v2/router.go
  openapi/v2/core-command.yaml
Labels: hold
