Repository edgexfoundry/edgex-go, pull requests merged in 2021-03, with the labels that each got.

#3215 feat(security): Implementation to set up Consul ACL
  cmd/security-bootstrapper/Dockerfile
  cmd/security-bootstrapper/consul-acl/config_consul_acl.json
  cmd/security-bootstrapper/entrypoint-scripts/consul_wait_install.sh
  cmd/security-bootstrapper/res/configuration.toml
  cmd/security-secretstore-setup/res-file-token-provider/configuration.toml
  cmd/security-secretstore-setup/res/configuration.toml
  internal/security/bootstrapper/command/cmd_dispatcher.go
  internal/security/bootstrapper/command/cmd_dispatcher_test.go
  internal/security/bootstrapper/command/flags_common.go
  internal/security/bootstrapper/command/setupacl/aclbootstrap.go
  internal/security/bootstrapper/command/setupacl/command.go
  internal/security/bootstrapper/command/setupacl/command_test.go
  internal/security/bootstrapper/command/setupacl/stubdata_test.go
  internal/security/bootstrapper/config/config.go
  internal/security/bootstrapper/config/types.go
  internal/security/bootstrapper/helper/helper.go
Labels: 3-high, enhancement, ireland, security-services

#3238 fix: Update docker file location
  README.md
Labels: documentation

#3251 feat(security): Implementation for setting up agent token
  internal/security/bootstrapper/command/setupacl/acltokens.go
  internal/security/bootstrapper/command/setupacl/acltokens_test.go
  internal/security/bootstrapper/command/setupacl/command.go
  internal/security/bootstrapper/command/setupacl/command_test.go
Labels: 3-high, enhancement, ireland, security-services

#3223 build(snap): Snap package build for setup consul acl
  snap/hooks/install
  snap/local/runtime-helpers/bin/setup-consul-acl.sh
  snap/local/runtime-helpers/bin/start-consul.sh
  snap/snapcraft.yaml
Labels: 3-high, blocked, enhancement, ireland, security-services, snap

#3273 feat(security): Implementation for adding Consul ACL policies, roles
  cmd/security-bootstrapper/res/configuration.toml
  internal/security/bootstrapper/command/setupacl/aclpolicies.go
  internal/security/bootstrapper/command/setupacl/aclpolicies_test.go
  internal/security/bootstrapper/command/setupacl/aclroles.go
  internal/security/bootstrapper/command/setupacl/aclroles_test.go
  internal/security/bootstrapper/command/setupacl/acltokens.go
  internal/security/bootstrapper/command/setupacl/acltokens_test.go
  internal/security/bootstrapper/command/setupacl/command.go
  internal/security/bootstrapper/command/setupacl/command_test.go
  internal/security/bootstrapper/command/setupacl/stubregistryserver_test.go
  internal/security/bootstrapper/config/config.go
  internal/security/bootstrapper/config/types.go
  internal/security/fileprovider/defaults.go
  internal/security/fileprovider/defaults_test.go
  internal/security/fileprovider/provider.go
  internal/security/fileprovider/provider_test.go
Labels: 3-high, enhancement, ireland, security-services

#3291 feat(security): Implementation for adding registry roles on the fly
  internal/security/bootstrapper/command/setupacl/command.go
  internal/security/bootstrapper/command/setupacl/command_test.go
Labels: enhancement, ireland, security-services

#3241 fix(snap): secure kong admin ports
  snap/snapcraft.yaml
Labels: enhancement, ireland, security-services, snap
