Repository edgexfoundry/edgex-go, pull requests merged in 2021-04, with the labels that each got.

#3330 feat: Add RedisDB Password for v2 security mode
  internal/pkg/v2/bootstrap/handlers/database.go
Labels: 3-high, bug, ireland

#3324 feat(security): Implementation for generating and storing Consul tokens for EdgeX services
  cmd/security-bootstrapper/res/configuration.toml
  internal/security/bootstrapper/command/setupacl/aclpolicies.go
  internal/security/bootstrapper/command/setupacl/acltokens.go
  internal/security/bootstrapper/command/setupacl/command.go
  internal/security/bootstrapper/command/setupacl/command_test.go
  internal/security/bootstrapper/command/setupacl/share/constant.go
  internal/security/bootstrapper/command/setupacl/stubregistryserver_test.go
  internal/security/bootstrapper/command/setupacl/tokencleaner/tokencleaner.go
  internal/security/bootstrapper/command/setupacl/tokencleaner/tokencleaner_test.go
  internal/security/bootstrapper/config/types.go
  internal/security/secretstore/tokenfilewriter/tokenfilewriter.go
  snap/snapcraft.yaml
Labels: 3-high, enhancement, ireland, security-services

#3347 fix: Fix unit test failure when using the latest go-mod-bootstrap v31
  internal/core/metadata/v2/controller/http/deviceservice_test.go
Labels: 3-high, bug, core-services

#3331 feat(security): Integrate EdgeX core servcies/app service with Consul tokens
  cmd/core-metadata/res/configuration.toml
  cmd/security-bootstrapper/res/configuration.toml
  cmd/security-file-token-provider/res/token-config.json
  cmd/sys-mgmt-agent/Dockerfile
  cmd/sys-mgmt-agent/res/configuration.toml
  go.mod
  internal/core/command/main.go
  internal/core/data/main.go
  internal/core/metadata/main.go
  internal/security/bootstrapper/command/setupacl/aclpolicies.go
  internal/security/bootstrapper/main.go
  internal/security/bootstrapper/redis/configure.go
  internal/security/config/main.go
  internal/security/fileprovider/main.go
  internal/security/proxy/main.go
  internal/security/secretstore/main.go
  internal/support/notifications/main.go
  internal/support/scheduler/main.go
  internal/system/agent/init.go
  internal/system/agent/main.go
  internal/system/agent/router.go
  internal/system/agent/setconfig/executor.go
  snap/snapcraft.yaml
Labels: 3-high, enhancement, ireland, security-services, snap

#3350 fix(security): Clean up Consul token generation code from security-bootstrapper
  cmd/security-bootstrapper/res/configuration.toml
  internal/security/bootstrapper/command/setupacl/command.go
  internal/security/bootstrapper/command/setupacl/command_test.go
  internal/security/bootstrapper/command/setupacl/stubregistryserver_test.go
  internal/security/bootstrapper/command/setupacl/tokencleaner/tokencleaner.go
  internal/security/bootstrapper/command/setupacl/tokencleaner/tokencleaner_test.go
  internal/security/bootstrapper/config/types.go
  internal/security/secretstore/tokenfilewriter/tokenfilewriter.go
  snap/snapcraft.yaml
Labels: ireland, security-services, tech-debt

#3381 docs: Add badges to readme
  README.md
Labels: documentation

#3402 feat(security)!: Switch Consul's default_policy to deny
  cmd/security-bootstrapper/consul-acl/config_consul_acl.json
  internal/security/bootstrapper/command/setupacl/acltokens.go
  internal/security/bootstrapper/command/setupacl/acltokens_test.go
  snap/local/runtime-helpers/bin/start-consul.sh
Labels: 3-high, enhancement, ireland, security-services
