Repository edgexfoundry/edgex-go, pull requests merged in 2022-07, with the labels that each got.

#4068 build: Upgrade to go 1.18 and latest golangci-lint
  .gitignore
  Makefile
  README.md
  cmd/core-command/Dockerfile
  cmd/core-data/Dockerfile
  cmd/core-metadata/Dockerfile
  cmd/security-bootstrapper/Dockerfile
  cmd/security-proxy-setup/Dockerfile
  cmd/security-secretstore-setup/Dockerfile
  cmd/security-spiffe-token-provider/Dockerfile
  cmd/security-spire-agent/Dockerfile
  cmd/security-spire-config/Dockerfile
  cmd/security-spire-server/Dockerfile
  cmd/support-notifications/Dockerfile
  cmd/support-scheduler/Dockerfile
  cmd/sys-mgmt-agent/Dockerfile
  go.mod
  go.sum
  internal/security/bootstrapper/command/setupacl/command_test.go
  internal/security/bootstrapper/command/setupacl/stubregistryserver_test.go
  internal/security/config/command/proxy/adduser/command_test.go
  internal/security/config/command/proxy/deluser/command_test.go
  internal/security/config/command/proxy/tls/command_test.go
  snap/local/hooks/go.mod
  snap/snapcraft.yaml
Labels: 3-high, build

#4092 fix: security-secretstore-setup volume init semantics
  cmd/security-secretstore-setup/Dockerfile
  cmd/security-secretstore-setup/entrypoint.sh
Labels: bug, 1-low

#4104 feat: use different consul service policy rule for service role
  internal/constants.go
  internal/security/bootstrapper/command/setupacl/command.go
Labels: enhancement, security-services, levski

#4110 fix: add missing edgex/security config stem resolution in security-consul-bootstrapper
  internal/security/bootstrapper/command/setupacl/command.go
Labels: bug, security-services
